<div class="container">

    <div class="header">
      <h1>CCB Scientific Advisory Board</h1>
    </div>

  <table >
    <tr>
      <th>Member</th>
      <th>Affiliation</th>
    </tr>
    <tr>
      <td><a href="https://thedonnellycentre.utoronto.ca/faculty/gary-bader" target="_blank" class="button">Gary Bader</a></td>
      <td>Department of Molecular Genetics - Ontario Research Chair in Biomarkers of Disease,
        University of Toronto
      </td>
    </tr>
    <tr>
      <td><a href="https://www.cbe.ncsu.edu/person/jmhaugh/" target="_blank" class="buttoninv">Jason Haugh</a></td>
      <td>North Carolina State University</td>
    </tr>
    <tr>
      <td>
        <a href="https://biophysics.jhu.edu/directory/margaret-johnson/" target="_blank" class="button">Margaret Johnson</a> 
      </td>
      <td>
        Johns Hopkins University
      </td>
    </tr>
    <tr>
      <td><a href="https://bioengineering.ucsd.edu/content/padmini-rangamani" target="_blank" class="buttoninv">Padmini Rangamani</a></td>
      <td>University California San Diego</td>
    </tr>
    <tr>
      <td><a href="https://www.kitware.com/will-schroeder/" target="_blank" class="button">Will Schroeder</a></td>
      <td>Kitware, Incorporated</td>
    </tr>
  </table>
  <br>
  <br>
</div>


