
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    //height: 100vh;
}

.header {
    text-align: center;
    padding-top: 30px; 
    padding-bottom: 20px;
    margin-left: 80px;
  }


.button {
  background: #4251A9;
  border: 2px solid #6E9D34;
  color: #ffffff;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 1;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.button:hover{
  background: transparent;
  color: #4251A9;
}

.buttoninv {
  background: transparent;
  border: 2px solid #6E9D34;
  color: #4251A9;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 1;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.buttoninv:hover{
  background: #4251A9;
  color: #ffffff;
}


table {
    border: 2px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: auto;
    table-layout: fixed;
  }
  
  table tr {
    background-color: #f8f8f8;
    border-left: 4px solid #4251A9;
    border-right: 4px solid #6E9D34;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: left;
    border-bottom: 2px solid #ddd;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 4px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: center;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }


  
  
