table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: left;
    font-weight:bold;
  }
  th{
    background-color: #dddddd;
  }

  /*table tr:nth-child(odd) td{
    text-align: center;
  }*/