<div class="header">
  <h1>Software Resources</h1>
</div>
         
<div class="container">
        <br>
        <table style="width: 100%;">
          <tr>
            <td style="border-bottom:none;" colspan="2" bgcolor="#B8C54A"></td>
          </tr>
          <tr>
            <td style="border-top:none;" colspan="2" bgcolor="#B8C54A"></td>
          </tr>
          <tr>
           <td colspan="2"><a href="https://amici.readthedocs.io/en/latest/index.html" target="_blank"><img class="responsive" src="../../../assets/Amici.PNG" alt="Amici text"></a></td>
          </tr>
          <tr>
            <td colspan="2"><a href="https://amici.readthedocs.io/en/latest/index.html" target="_blank">Amici</a> - A multi-language interface to the SUNDIALS solvers CVODES and IDAS.</td>
          </tr>
          <tr>
           <td colspan="2"><a href="https://berkeley-madonna.myshopify.com/" target="_blank"><img class="responsive" src="../../../assets/Berkeley Madonna.PNG" alt="berkeley-madonna Logo"></a></td>
          </tr>
          <tr>
            <td colspan="2"><a href="https://berkeley-madonna.myshopify.com/" target="_blank">Berkeley Madonna</a> - General purpose differential equations solver with GUI for constructing complex mathematical models.</td>
          </tr>
            <tr>
             <td colspan="2"><a href="https://biodynamo.org/" target="_blank"><img class="responsive" src="../../../assets/BioDynaMo.PNG" alt="BioDynaMo"></a></td>
            </tr>
            <tr>
            <td colspan="2"><a href="https://biodynamo.org/" target="_blank">BioDynaMo</a> - Platform for 3D agent-based simulations.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://bionetgen.org/" target="_blank"><img class="responsive" src="../../../assets/BioNetGen.PNG" alt="BioNetGen"></a></td>  
            </tr>
            <tr>
            <td colspan="2"><a href="https://bionetgen.org/" target="_blank">BioNetGen/RuleBender</a> - Rule-based dynamical modeling; RuleBender is a GUI interface for BioNetGen.</td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="https://biosimulations.org/" target="_blank"><img class="responsive" src="../../../assets/BioSimulations Logo Software.png"></a>
              </td>
            </tr>
            <tr>
            <td colspan="2"><a href="https://biosimulations.org/" target="_blank">BioSimulations</a> - is a free platform for sharing and re-using biomodels, simulations, and visualizations.
            </td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="https://biosimulators.org/" target="_blank"><img class="responsive" src="../../../assets/BioSimulators Software.png"></a>
              </td>
            </tr>
            <tr>
            <td colspan="2"><a href="https://biosimulators.org/" target="_blank">BioSimulators</a> - is a free platform for sharing and re-using biomodels, simulations, and visualizations.
            </td>
            </tr>
            
              <tr>
              <td colspan="2"><a href="https://cran.r-project.org/package=BoolNet" target="_blank">BoolNet</a> - R package for the construction and analysis of synchronous, asynchronous, probabilistic and temporal Boolean networks.</td>
            </tr>
            <tr>
             <td colspan="2"><a href="https://cellcollective.org/" target="_blank"><img class="responsive" class="responsive"  src="../../../assets/CellCollective.png" alt="Cell Collective"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://cellcollective.org/" target="_blank">Cell Collective</a> - Web-based platform for the construction, simulation, and analysis of Boolean-based models.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://www.celldesigner.org/" target="_blank"><img class="responsive" class="responsive"  src="../../../assets/CellDesigner.png" alt="CellDesigner"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://www.celldesigner.org/" target="_blank">Cell Designer</a> - A structured diagram editor for drawing gene-regulatory and biochemical networks stored in SBKL.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://www2.mpi-magdeburg.mpg.de/projects/cna/cna.html" target="_blank"><img class="responsive" src="../../../assets/CellNetAnalyzer.png" alt="CellNetAnalyzer"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://www2.mpi-magdeburg.mpg.de/projects/cna/cna.html" target="_blank">CellNetAnalyzer</a> - MATLAB toolbox  for exploring structural and functional properties of metabolic, signaling, and regulatory networks using stoichiometric and constraint-based techniques as well as Boolean and multivalued logic.</td>
            </tr>
            <tr>
             <td colspan="2"><a href="https://saezlab.github.io/CellNOptR/" target="_blank"><img class="responsive" src="../../../assets/CellNOpt.PNG" alt="CellNOpt"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://saezlab.github.io/CellNOptR/" target="_blank">CellNOpt</a> - Creates logic-based models of signal transduction networks using different logic formalisms (Boolean, Fuzzy, or differential equations). Encodes information on signaling pathways as a Prior Knowledge Network, and trains it against high-throughput biochemical data to create cell-specific models.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://cnapy-org.github.io/CNApy/" target="_blank"><img class="responsive" src="../../../assets/CNApy.PNG" alt="CNApy"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://cnapy-org.github.io/CNApy/" target="_blank">CNApy</a> - A cross-platform desktop application written in Python for constraint-based analysis of metabolic networks.</td>
            </tr>
            <tr>
             <td colspan="2"><a href="https://opencobra.github.io/cobrapy/" target="_blank"><img class="responsive" src="../../../assets/CobraPy.PNG" alt="CobraPy"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://opencobra.github.io/cobrapy/" target="_blank">CobraPy</a> - Python package that provides a simple interface to metabolic constraint-based reconstruction and analysis.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://compucell3d.org/" target="_blank"><img class="responsive" src="../../../assets/CompuCell3D.PNG"></a>

              </td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://compucell3d.org/" target="_blank">CompuCell3D</a> - CompuCell3D is a flexible scriptable modeling environment, which allows the rapid construction of sharable Virtual Tissue in silico simulations.
              </td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://www.comses.net/resources/modeling-frameworks/" target="_blank"><img class="responsive" src="../../../assets/CoMSES.PNG" alt="CoMSES"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://www.comses.net/resources/modeling-frameworks/" target="_blank">CoMSES</a> - Compilation of software for agent- based modeling.</td>
           </tr>
           <tr>
            <td colspan="2"><a href="https://copasi.org" target="_blank"><img class="responsive" src="../../../assets/COPASI-logo-dark40PH.png" alt="Copasi Logo"></a></td>
           </tr>
          <tr>
            <td colspan="2"><a href="https://copasi.org" target="_blank">COPASI</a> - Nonspatial deterministic and stochastic, parameter optimization and steady state analysis.</td> 
          </tr>
           <tr>
             <td colspan="2"><a href="https://cytoscape.org/" target="_blank"><img class="responsive" src="../../../assets/Cytoscape Software.png"></a>
             </td>
            </tr>
            <tr>
             <td colspan="2">
              <a href="https://cytoscape.org/" target="_blank">Cytoscape</a> -  is an open source software platform for visualizing complex networks and integrating these with any type of attribute data.
             </td>
           </tr>
           
            <tr>
             <td colspan="2"><a href="http://epilog-tool.org/" target="_blank"><img class="responsive" src="../../../assets/EpliLog.PNG" alt="EpliLog"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://epilog-tool.org/" target="_blank">EpiLog</a> - Models of simple epithelial are defined as cellular automata, where the behavior of each cell is governed by its (logical) regulatory model, subject to input signals from neighboring cells.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://ecell4.e-cell.org/" target="_blank"><img class="responsive" src="../../../assets/E-Cell System.PNG" alt="E-Cell"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://ecell4.e-cell.org/" target="_blank">E-Cell System</a> - A platform for modeling, simulation and analysis of complex, heterogeneous and multi-scale systems.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://sbrg.github.io/escher-fba/#/" target="_blank"><img class="responsive" src="../../../assets/Escher-FBA.PNG" alt="Escher-FBA"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://sbrg.github.io/escher-fba/#/" target="_blank">Escher-FBA</a> - An interactive pathway visualization tool for on-the-fly flux balance analysis (FBA) calculations.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://gfrd.org/" target="_blank">GFRD</a> - Algorithm for single particle reaction diffusion systems using Green's Function.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://github.com/StochSS/GillesPy2" target="_blank">GillesPy2</a> - Python package for stochastic simulation of biochemical systems.</td>
            
            </tr>
            <tr>
              <td colspan="2"><a href="http://www.ginsim.org/home" target="_blank"><img class="responsive" src="../../../assets/GINsim.PNG" alt="GENsim"></a></td>  
            </tr>
            <tr>
              <td colspan="2"><a href="http://www.ginsim.org/home" target="_blank">GINsim</a> - Specifies a model of a genetic regulatory network in terms of asynchronous, multivalued logical functions, and simulates and/or analyses its qualitative dynamical behavior.</td>
            </tr>
              <tr>
              <td colspan="2"><a href="https://async.ece.utah.edu/tools/ibiosim/" target="_blank"><img class="responsive" src=".././../../assets/Ibiosim.PNG" alt="Ibiosim"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://async.ece.utah.edu/tools/ibiosim/" target="_blank">Ibiosim</a> - Modeling, analysis, and design of genetic circuits</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://jjj.biochem.sun.ac.za/" target="_blank"><img class="responsive" src="../../../assets/JWSonline.PNG" alt="JWSonline"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://jjj.biochem.sun.ac.za/" target="_blank">JWSonline</a> - Tool for the construction, modification and simulation of kinetic models and for the storage of curated models.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://maboss.curie.fr/" target="_blank"><img class="responsive" src="../../../assets/MaBoSS.PNG" alt="MaBoSS"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://maboss.curie.fr/" target="_blank">MaBoSS</a> - Markovian Boolean Stochastic Simulator for simulating continuous/discrete time Markov processes based on Boolean networkss based on Boolean networks.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://mcell.org/" target="_blank"><img class="responsive" src="../../../assets/MCell.PNG" alt="MCell"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://mcell.org/" target="_blank">MCell</a> - Monte Carlo spatial stochastic reaction diffusion simulator </td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://pypi.org/project/modelbase/" target="_blank"><img class="responsive" src="../../../assets/modelbase.PNG" alt="modelbase"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://pypi.org/project/modelbase/" target="_blank">modelbase</a> - Python package for building and analyzing dynamic mathematical models originally designed for simulating metabolic systems.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://morpheus.gitlab.io/" target="_blank"><img class="responsive" src="../../../assets/Morpheus.PNG" alt="morpheus"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://morpheus.gitlab.io/" target="_blank">Morpheus</a> - Modeling and simulation environment for the study of multi-scale and multicellular systems using ODEs, PDEs and cellular Potts models.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://github.com/mjohn218/NERDSS" target="_blank">NERDSS</a> - NonEquilibrium Reaction-Diffusion Self-assembly Simulator</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://www.neuron.yale.edu/neuron/" target="_blank"><img class="responsive" src="../../../assets/Neuron.PNG" alt="Neuron"></a></td>
            </tr>
            <tr>
              <td  colspan="2"><a href="https://www.neuron.yale.edu/neuron/" target="_blank">Neuron</a> - Environment for building and using computational models of neurons and networks of neurons.</td>
            </tr>
            <tr>
             <td colspan="2"><a href="https://opencor.ws/" target="_blank"><img class="responsive" src="../../../assets/OpenCOR.PNG" alt="OpenCOR"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://opencor.ws/" target="_blank">OpenCOR</a> - An open source cross-platform modelling environment</td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://physicell.org/" target="_blank"><img class="responsive" src="../../../assets/Physicell.PNG"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://physicell.org/" target="_blank">PhysiCell</a> - PhysiCell aims to provide a robust, scalable code for simulating large systems of cells in 3-D tissues on standard desktop computers.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://pysces.sourceforge.net/" target="_blank"><img class="responsive" class="responsive" src="../../../assets/PySCeS.PNG" alt="PySCeS"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://pysces.sourceforge.net/" target="_blank">PySCeS</a> - A collection of Python-based tools for the analysis of cellular systems.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://www.niaid.nih.gov/research/simmune-project" target="_blank">Simmune</a> - Spatial modeling of cell biological systems from interactions between molecular domains to the behavior of populations of cells</td>
            </tr>
            <tr>
             <td colspan="2"><a href="http://www.smoldyn.org/" target="_blank"><img class="responsive" class="responsive" src="../../../assets/Smoldyn.png" alt="Smoldyn"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://www.smoldyn.org/" target="_blank">Smoldyn</a> - Spatial Stochastic simulator for chemical reaction networks.</td>
            </tr>
            <tr>
             <td colspan="2"><a href="https://spatiocyte.org/" target="_blank"><img class="responsive" src="../../../assets/Spatiocyte.PNG" alt="Spatiocyte"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://spatiocyte.org/" target="_blank">Spatiocyte</a> - Lattice-based particle simulator</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://vcell.org/ssalad" target="_blank"><img class="responsive" src="../../../assets/SpringSaLaD.png" alt="SpringSaLaD Logo"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://vcell.org/ssalad" target="_blank">SpringSaLaD</a> - Particle-based, stochastic, biochemical simulation platform for meso-scale modeling that explicitly accounts for individual domains within a protein.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://stochss.org/" target="_blank"><img class="responsive" src="../../../assets/StochSS.PNG" alt="StochSS"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://stochss.org/" target="_blank">StochSS</a> - Web interface for simulating stochastic and ODE-based biochemical systems.</td>
            </tr>
            <tr><td colspan="2"><a href="http://tellurium.analogmachine.org/" target="_blank"><img class="responsive" src="../../../assets/Tellurium.PNG" alt="Tellurium"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://tellurium.analogmachine.org/" target="_blank">Tellurium</a> - Python-based modeling environment for systems and synthetic biology.</td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://vcell.org/" target="_blank"><img class="responsive" src="../../../assets/VCell Logo software pg.png"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="https://VCell.org" target="_blank">VCell</a> - Spatial and nonspatial deterministic, stochastic, hybrid stochastic/deterministic simulations with GUI and central database and computing services</td> 
            </tr>
            <tr>
             <td colspan="2"><a href="http://www.math.pitt.edu/~bard/xpp/xpp.html" target="_blank"><img class="responsive" src="../../../assets/XPP.png" alt="XPP Logo"></a></td>
            </tr>
            <tr>
              <td colspan="2"><a href="http://www.math.pitt.edu/~bard/xpp/xpp.html" target="_blank">XPP</a> - A tool for solving differential, difference, delay, functional and stoachastic equations as well as boundary value problems.</td>
            </tr>
            <tr>
              <td style="border-bottom:none;" colspan="2" bgcolor="#B8C54A"></td>
            </tr>
            <tr>
              <td style="border-top:none;" colspan="2" bgcolor="#B8C54A"></td>
            </tr>
          </table>
</div>

          


