<div class="container">
    <div class="row">
         <div class="col" style="display: flex; align-items: center;">
            <div class="col" style="text-align: center;">

                <br>
                <div class="row">
                  <div class="col-9">
                    <div class="container">
                      <div class="row">
                        <div class="col" style="text-align: center;">  
            <h1>Software Resources</h1>
          </div>
        </div>
        <br>
        <table style="width: 100%;">
          <tr>
            <th colspan="3"></th>
          </tr>
          <tr>
            <td>VCell</td>
            <td><a href="https://VCell.org" target="_blank">https://VCell.org</a></td>
           <td></td> 
          </tr>
           <tr>
            <td style="border-right:none;"></td>
            <td style="border-left:none;" colspan="2">Spatial and nonspatial deterministic, stochastic, hybrid stochastic/deterministic simulations with GUI and central database and computing services</td>
          </tr>
          <tr>
            <td>COPASI</td>
            <td><a href="https://copasi.org" target="_blank">https://copasi.org</a></td>
            <td><img src="../../../assets/COPASI-logo-dark40PH.png"></td>
          </tr>
          <tr>
            <td style="border-right:none;"></td>
            <td style="border-left:none;" colspan="2">Nonspatial deterministic and stochastic, parameter optimization and steady state analysis.</td>
          </tr>
          <tr>
            <td>SpringSaLaD</td>
            <td><a href="https://vcell.org/ssalad" target="_blank">https://vcell.org/ssalad</a></td>
            <td></td>  
          </tr>
          <tr>
            <td style="border-right:none;"></td>
            <td style="border-left:none;" colspan="2">Particle-based, stochastic, biochemical simulation platform for meso-scale modeling that explicitly accounts for individual domains within a protein.</td>
          </tr>
          <tr>
            <td style="border-bottom:none;" colspan="3" bgcolor="#dddddd"></td>
          </tr>
          <tr>
            <td style="border-top:none;" colspan="3" bgcolor="#dddddd"></td>
          </tr>
          <tr>
            <td>Amici</td>
            <td><a href="https://amici.readthedocs.io/en/latest/index.html" target="_blank">https://amici.readthedocs.io/en/latest/index.html</a></td>
            <td><img src="../../../assets/Amici.PNG" alt="Amici text"></td>
          </tr>
          <tr>
            <td style="border-right:none;"></td>
            <td style="border-left:none;" colspan="2">A multi-language interface to the SUNDIALS solvers CVODES and IDAS.</td>
          </tr>
          <tr>
            <td>Berkeley Madonna</td>
            <td><a href="https://berkeley-madonna.myshopify.com/" target="_blank">https://berkeley-madonna.myshopify.com/</a></td>
            <td><img src="../../../assets/Berkeley Madonna.PNG" alt="berkeley-madonna Logo"></td>
          </tr>
          <tr>
            <td style="border-right:none;"></td>
            <td style="border-left:none;" colspan="2">General purpose differential equations solver with GUI for constructing complex mathematical models.</td>
          </tr>
            <tr>
              <td>BioDynaMo</td>
              <td><a href="https://biodynamo.org/" target="_blank">https://biodynamo.org/</a></td>
              <td><img src="../../../assets/BioDynaMo.PNG" alt="BioDynaMo"></td>
            </tr>
            <tr>
            <td style="border-right:none;"></td>
            <td style="border-left:none;" colspan="2">Platform for 3D agent-based simulations.</td>
            </tr>
            <tr>
              <td>BioNetGen/RuleBender</td>
              <td><a href="https://bionetgen.org/" target="_blank">https://bionetgen.org/</a></td>
              <td><img src="../../../assets/BioNetGen.PNG" alt="BioNetGen"></td>  
            </tr>
            <tr>
            <td style="border-right:none;"></td>
            <td style="border-left:none;" colspan="2">Rule-based dynamical modeling; RuleBender is a GUI interface for BioNetGen.</td>
            </tr>
            <tr>
              <td>BoolNet</td>
              <td><a href="https://cran.r-project.org/package=BoolNet" target="_blank">https://cran.r-project.org/package=BoolNet</a></td>
              <td></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">R package for the construction and analysis of synchronous, asynchronous, probabilistic and temporal Boolean networks.</td>
            </tr>
            <tr>
              <td>Cell Collective</td>
              <td><a href="https://cellcollective.org/" target="_blank">https://cellcollective.org/</a></td>
              <td><img src="../../../assets/CellCollective.png" alt="Cell Collective"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Web-based platform for the construction, simulation, and analysis of Boolean-based models.</td>
            </tr>
            <tr>
              <td>Cell Designer</td>
              <td><a href="http://www.celldesigner.org/" target="_blank">http://www.celldesigner.org/</a></td>
              <td><img src="../../../assets/CellDesigner.png" alt="CellDesigner"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">A structured diagram editor for drawing gene-regulatory and biochemical networks stored in SBKL.</td>
            </tr>
            <tr>
              <td>CellNetAnalyzer</td>
              <td><a href="http://www2.mpi-magdeburg.mpg.de/projects/cna/cna.html" target="_blank">http://www2.mpi-magdeburg.mpg.de/projects/cna/cna.html</a></td>
              <td><img src="../../../assets/CellNetAnalyzer.png" alt="CellNetAnalyzer"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">MATLAB toolbox  for exploring structural and functional properties of metabolic, signaling, and regulatory networks using stoichiometric and constraint-based techniques as well as Boolean and multivalued logic.</td>
            </tr>
            <tr>
              <td>CellNOpt</td>
              <td><a href="https://saezlab.github.io/CellNOptR/" target="_blank">https://saezlab.github.io/CellNOptR/</a></td>
              <td><img src="../../../assets/CellNOpt.PNG" alt="CellNOpt"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Creates logic-based models of signal transduction networks using different logic formalisms (Boolean, Fuzzy, or differential equations). Encodes information on signaling pathways as a Prior Knowledge Network, and trains it against high-throughput biochemical data to create cell-specific models.</td>
            </tr>
            <tr>
              <td>CobraPy</td>
              <td><a href="https://opencobra.github.io/cobrapy/" target="_blank">https://opencobra.github.io/cobrapy/</a></td>
              <td><img src="../../../assets/CobraPy.PNG" alt="CobraPy"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Python package that provides a simple interface to metabolic constraint-based reconstruction and analysis.</td>
            </tr>
            <tr>
              <td>CNApy</td>
              <td><a href="https://cnapy-org.github.io/CNApy/" target="_blank">https://cnapy-org.github.io/CNApy/</a></td>
              <td><img src="../../../assets/CNApy.PNG" alt="CNApy"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">A cross-platform desktop application written in Python for constraint-based analysis of metabolic networks.</td>
            </tr>
            <tr>
              <td>CoMSES</td>
              <td><a href="https://www.comses.net/resources/modeling-frameworks/" target="_blank">https://www.comses.net/resources/modeling-frameworks/</a></td>
              <td><img src="../../../assets/CoMSES.PNG" alt="CoMSES"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Compilation of software for agent- based modeling.</td>
           </tr>
            <tr>
              <td>EpiLog</td>
              <td><a href="http://epilog-tool.org/" target="_blank">http://epilog-tool.org/</a></td>
              <td><img src="../../../assets/EpliLog.PNG" alt="EpliLog"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Models of simple epithelial are defined as cellular automata, where the behavior of each cell is governed by its (logical) regulatory model, subject to input signals from neighboring cells.</td>
            </tr>
            <tr>
              <td>E-Cell System</td>
              <td><a href="https://ecell4.e-cell.org/" target="_blank">https://ecell4.e-cell.org/</a></td>
              <td><img src="../../../assets/E-Cell System.PNG" alt="E-Cell"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">A platform for modeling, simulation and analysis of complex, heterogeneous and multi-scale systems.</td>
            </tr>
            <tr>
              <td>Escher-FBA</td>
              <td><a href="https://sbrg.github.io/escher-fba/#/" target="_blank">https://sbrg.github.io/escher-fba/#/</a></td>
              <td><img src="../../../assets/Escher-FBA.PNG" alt="Escher-FBA"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">An interactive pathway visualization tool for on-the-fly flux balance analysis (FBA) calculations.</td>
            </tr>
            <tr>
              <td>GFRD</td>
              <td><a href="https://gfrd.org/" target="_blank">https://gfrd.org/</a></td>
              <td></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Algorithm for single particle reaction diffusion systems using Green's Function.</td>
            </tr>
            <tr>
              <td>GillesPy2</td>
              <td><a href="https://github.com/StochSS/GillesPy2" target="_blank">https://github.com/StochSS/GillesPy2</a></td>
              <td></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Python package for stochastic simulation of biochemical systems.</td>
            
            </tr>
            <tr>
              <td>GINsim</td>
              <td><a href="http://www.ginsim.org/home" target="_blank">http://www.ginsim.org/home</a></td>
              <td><img src="../../../assets/GINsim.PNG" alt="GENsim"></td>  
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Specifies a model of a genetic regulatory network in terms of asynchronous, multivalued logical functions, and simulates and/or analyses its qualitative dynamical behavior.</td>
            </tr>
              <tr>
              <td>Ibiosim</td>
              <td><a href="https://async.ece.utah.edu/tools/ibiosim/" target="_blank">https://async.ece.utah.edu/tools/ibiosim/</a></td>
              <td><img src=".././../../assets/Ibiosim.PNG" alt="Ibiosim"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Modeling, analysis, and design of genetic circuits</td>
            </tr>
            <tr>
              <td>JWSonline</td>
              <td><a href="https://jjj.biochem.sun.ac.za/">https://jjj.biochem.sun.ac.za/</a></td>
              <td><img src="../../../assets/JWSonline.PNG" alt="JWSonline"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Tool for the construction, modification and simulation of kinetic models and for the storage of curated models.</td>
            </tr>
            <tr>
              <td>MaBoSS</td>
              <td><a href="https://maboss.curie.fr/" target="_blank">https://maboss.curie.fr/</a></td>
              <td><img src="../../../assets/MaBoSS.PNG" alt="MaBoSS"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Markovian Boolean Stochastic Simulator for simulating continuous/discrete time Markov processes based on Boolean networkss based on Boolean networks.</td>
            </tr>
            <tr>
              <td>MCell</td>
              <td><a href="https://mcell.org/" target="_blank">https://mcell.org/</a></td>
              <td><img src="../../../assets/MCell.PNG" alt="MCell"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Monte Carlo spatial stochastic reaction diffusion simulator </td>
            </tr>
            <tr>
              <td>modelbase</td>
              <td><a href="https://pypi.org/project/modelbase/" target="_blank">https://pypi.org/project/modelbase/</a></td>
              <td><img src="../../../assets/modelbase.PNG" alt="modelbase"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Python package for building and analyzing dynamic mathematical models originally designed for simulating metabolic systems.</td>
            </tr>
            <tr>
              <td>Morpheus</td>
              <td><a href="http://morpheus.gitlab.io/" target="_blank">http://morpheus.gitlab.io/</a></td>
              <td><img src="../../../assets/Morpheus.PNG" alt="morpheus"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Modeling and simulation environment for the study of multi-scale and multicellular systems using ODEs, PDEs and cellular Potts models.</td>
            </tr>
            <tr>
              <td>NERDSS</td>
              <td><a href="https://github.com/mjohn218/NERDSS" target="_blank">https://github.com/mjohn218/NERDSS</a></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">NonEquilibrium Reaction-Diffusion Self-assembly Simulator</td>
            </tr>
            <tr>
              <td>Neuron</td>
              <td><a href="https://www.neuron.yale.edu/neuron/" target="_blank">https://www.neuron.yale.edu/neuron/</a></td>
              <td><img src="../../../assets/Neuron.PNG" alt="Neuron"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Environment for building and using computational models of neurons and networks of neurons.</td>
            </tr>
            <tr>
              <td>OpenCOR</td>
              <td><a href="https://opencor.ws/" target="_blank">https://opencor.ws/</a></td>
              <td><img src="../../../assets/OpenCOR.PNG" alt="OpenCOR"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">An open source cross-platform modelling environment</td>
            </tr>
            <tr>
              <td>PySCeS</td>
              <td><a href="http://pysces.sourceforge.net/" target="_blank">http://pysces.sourceforge.net/</a></td>
              <td><img src="../../../assets/PySCeS.PNG" alt="PySCeS"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">A collection of Python-based tools for the analysis of cellular systems.</td>
            </tr>
            <tr>
              <td>Simmune</td>
              <td><a href="https://www.niaid.nih.gov/research/simmune-project" target="_blank">https://www.niaid.nih.gov/research/simmune-project</a></td>
              <td></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Spatial modeling of cell biological systems from interactions between molecular domains to the behavior of populations of cells</td>
            </tr>
            <tr>
              <td>Smoldyn</td>
              <td><a href="http://www.smoldyn.org/" target="_blank">http://www.smoldyn.org/</a></td>
              <td><img src="../../../assets/Smoldyn.png" alt="Smoldyn"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Spatial Stochastic simulator for chemical reaction networks.</td>
            </tr>
            <tr>
              <td>Spatiocyte</td>
              <td><a href="https://spatiocyte.org/" target="_blank">https://spatiocyte.org/</a></td>
              <td><img src="../../../assets/Spatiocyte.PNG" alt="Spatiocyte"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Lattice-based particle simulator</td>
            </tr>
            <tr>
              <td>StochSS</td>
              <td><a href="https://stochss.org/" target="_blank">https://stochss.org/</a></td>
              <td><img src="../../../assets/StochSS.PNG" alt="StochSS"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Web interface for simulating stochastic and ODE-based biochemical systems.</td>
            </tr>
            <tr>
              <td>Tellurium</td>
              <td><a href="http://tellurium.analogmachine.org/" target="_blank">http://tellurium.analogmachine.org/</a></td>
              <td><img src="../../../assets/Tellurium.PNG" alt="Tellurium"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">Python-based modeling environment for systems and synthetic biology.</td>
            </tr>
            <tr>
              <td>XPP</td>
              <td><a href="http://www.math.pitt.edu/~bard/xpp/xpp.html" target="_blank">http://www.math.pitt.edu/~bard/xpp/xpp.html</a></td>
              <td><img src="../../../assets/XPP.png" alt="XPP Logo"></td>
            </tr>
            <tr>
              <td style="border-right:none;"></td>
              <td style="border-left:none;" colspan="2">A tool for solving differential, difference, delay, functional and stoachastic equations as well as boundary value problems.</td>
            </tr>
            <tr>
              <th colspan="4"></th>
            </tr>
          </table>


