h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  color: #20394B;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: left;
    font-weight:bold;
  }
  th{
    background-color: #dddddd;
  }

  .header{
    margin-top: 75px;
  }