<div class="header">
    <h1>Our Noteworthy Accomplishments</h1>
</div>

<div class="container"></div>
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="container">
  <div class="card">
    <h3>COPASI 4.35 (Build 258) Released</h3>
    <p class="cardcontent">
      03-15-22. A new release of COPASI has been made available. Please visit the
 <a href="http://copasi.org/Download/" target="_blank">download page</a> to retrieve this latest stable
release. This mainly bug fix release some issue in COPASI 4.34 (Build
251). More information can be found in the 
<a href="http://copasi.org/Support/Change_History/COPASI_4_35_Build_258/" target="_blank">changelog</a>.

    </p>
  </div>




  <div class="card">
    <h3>Slepchenko Publication</h3>
    <p class="cardcontent">
      02-18-22. Congratulations to Boris Slepchenko on his latest publication with CCAM alumnus Masoud 
      Nickaeen, <a href="https://www.molbiolcell.org/doi/full/10.1091/mbc.E21-07-0362" target="_blank">A model of actin-driven endocytosis explains differences of endocytic motility in 
      budding and fission yeast.</a> In this article they showed that a molecularly explicit model of 
      forces exerted by actin filaments on endocytic invaginations explains the differences in 
      endocytic invaginations between budding and fission yeast.
    </p>
  </div>

      <div class="card">
        <h3> Cowan and Loew Publication</h3>
        <p class="cardcontent">
        (12-03-21) Ann Cowan and Les Loew are authors on another paper with the 
        Carlier lab. This paper was published in The Biophysicist,<a href="https://meridian.allenpress.com/the-biophysicist/article/doi/10.35459/tbp.2021.000198/474420/Teaching-Mathematical-Modeling-of-Cellular-Systems" target="_blank">
        Teaching Mathematical Modeling of Cellular Systems with the VCell MathModel</a>. Congratulations on this paper and their continued collaborative work.
          </p>
      </div>

      <div class="card">
        <h3> Loew is Co-author on Paper</h3>
        <p class="cardcontent">(09-09-2021) The paper was published with collaborators from the Pollard 
          lab at Yale, published online in the Biophysical Journal 
          <a href="https://pubmed.ncbi.nlm.nih.gov/34509503/" target="_blank">(PMID 34509503)</a>. The work was started by Les some time ago to computationally explore molecular details of actin assembly and was recently revived by a graduate student in the Pollard lab.  
      </p>
      </div>

      <div class="card">
        <h3>COPASI 4.34 Release!</h3>
        <p class="cardcontent"> (08-12-21) The COPASI team announces the immediate availability of
          the stable release <a href="http://copasi.org/Download/" target="_blank"
          >COPASI 4.34 (Build 251)</a>.
        </p>

      </div>

      <div class="card">
        <h3>Blinov and Moraru Publication</h3>
        <p class="cardcontent">(07-02-21) Michael Blinov and Ion Moraru are co-authors on a paper introducing RunBioSimulations, a single
          web application for running a broad range of models. <a href="https://pubmed.ncbi.nlm.nih.gov/34019658/" target="_blank">(PMID 34019658)</a> 
        </p>

      </div>

      <div class="card">
        <h3>Cowan and Loew Publication</h3>
        <p class="cardcontent">(05-13-21) Ann Cowan and Les Loew are authors on a paper from the Carlier lab
          published in PLOS Computational Biology, Ten steps to investigate a cellular system with mathematical modeling.
          <a href="https://pubmed.ncbi.nlm.nih.gov/33983922/" target="_blank">(PMID 33983922)</a>

      </p>
    </div>
    
        <div class="card">
          <h3>Congratulations to Les Loew!</h3>
          <p class="cardcontent">(4-27-2021) <a href="https://today.uconn.edu/2021/04/five-uconn-faculty-honored-as-board-of-trustees-distinguished-professors/" target="_blank">Les Loew recognized as Board of Trustees Distinguished Professor.</a>
          </p>
        </div>
      
        <div class="card">
          <h3>COPASI New Release!</h3>
          <p class="cardcontent">(02-24-2021)
            The COPASI team announces the immediate availability of the stable release <a href="http://copasi.org/Download/" target="_blank">COPASI 4.30 (Build 240)</a>.
            </p>
        </div>
 </div>