h1{
    font-family: sans-serif;
    color: #3A5369;  
    padding-bottom: 20px;
  }

 .news-h2{
     font-family: sans-serif;
    color: #2A3C4B;
    text-align: left;
    font-size: 1.17rem;

  }

  @media (max-width: 640px) {
    h1 {
        font-size: 1.5rem;
    }
  }

.header {
    text-align: center;
    line-height: 0.8;
    margin-top: 30px;
}

*{
    box-sizing: border-box;
}


  .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }


/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}


/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 20px;
  max-width: 250px;
}

.cardcontent {
  text-align: left;
}
