<div class="header">
    <h1>Our Noteworthy Accomplishments</h1>
</div>

<div class="container"></div>
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="container">

  <div class="card">
    <h3>New Version of VCell 7.5</h3>
    <p class="cardcontent">
      02.01.23.  Some of the new VCell features include:
        <ul>
          <li>Increased quotas for ODE and PDE jobs.</li>
          <li>Allow parameter scans on local client-side simulation runs.</li>
          <li>Improved BioModel unit system transformation</li>
        </ul>
        Please see <a href="https://vcell.org/run-vcell-software" target="_blank">VCell Release History</a> 
        for a comprehensive list of the new features.
  </div>

  <div class="card">
    <h3>New Version of COPASI Released (4.39 build 272)</h3>
    <p class="cardcontent">
      01-31-23. New features:
          <ul>
              <li>Easy way to create sums, sums of squares, sums of absolute values, and products for a selected class of objects in expression widgets.</li>
              <li>Added irreversible uni-molecular and bimolecular Arrhenius kinetic rate laws as built-in functions.</li>
              <li>Several bug fixes</li>
            </ul>
        Get it now from <a href="http://copasi.org/Download/" target="_blank">Copasi Download</a>
  </div>

  <div class="card">
    <h3>New Version of COPASI Released (v. 4.38 build 268)</h3>
  <p class="cardcontent">
    12-01-22. A new version of COPASI  has been released (4.38 build 268). Major bug fixes for OS X, 
                      improved handling of OMEX files, improved handling of units from SBML files, 
                      and other bug fixes. Download it now from <a href="http://copasi.org/Download/" target="_blank">
                        http://copasi.org/Download/</a>.
  </p>
  </div>
  <div class="card">
    <h3>SpringSaLaD used for Coarse-Grained Molecular Modeling in Publication</h3>
    <p class="cardcontent">
      11-16-22. SpringSaLaD software was used to model contractility kits, complexes in the 
      cytoplasm of Dictyostelium cells consisting of myosin II and cortexillin I 
      in the publication, <a href="https://www.sciencedirect.com/science/article/pii/S0006349522008694" target="_blank">Particle-based model of mechanosensory contractility 
      kit assembly.</a>
    </p>
  </div>
  <div class="card">
    <h3>New Version of COPASI is Now Available (v. 4.37)</h3>
    <p class="cardcontent">
      10-06-22. This update improves support for SED-ML processing and a new installation package for OS X Big Sur or later on Intel platform. Please see the <a href="https://copasi.org/Support/Change_History/COPASI_4_37_Build_264/" target="_blank">Changelog</a> 
      and <a href="https://copasi.org/Download/" target="_blank">Download</a> pages for more information.
      </p>
  </div>
  <div class="card">
    <h3>VCell Tutorial at ICSB 2022, Berlin Germany</h3>
      <p class="cardcontent">
        09-13-22. Michael Blinov and Ion Moraru will give a VCell tutorial at the 21st 
        International Conference on Systems Biology - the premier meeting on systems studies in 
        biology, human evolution disease and planetary health. The meeting will take place in 
        Berlin, Germany on October 8th-12th. The tutorial will be on October 9th at 12:30 pm local 
        time. Visit <a href="https://www.icsb2022.berlin/satellite-events" target="_blank">Satellite Events.</a>
      </p>
  </div>

  <div class="card">
    <h3>23rd Annual Workshop on Computational Cell Biology</h3>
        <p class="cardcontent">
          (05-25-22) The <a href="https://compcellbio.org/assets/VCell%20ShortCourse%20Online%202022.pdf" target="_blank">23rd Computational Cell Biology Workshop</a> 
            took place at R. D. Berlin 
            Center for Cell Analysis and Modeling (CCAM) on May 23-25th. For 3 days, 
            more than 40 online participants learned how to use VCell, COPASI and 
            SpringSalad software tools for modeling of cell biology systems. 16 
            participants participated in the “project track”, working individually 
            with CCAM staff on developing their modeling projects. 
        </p>
  </div>

  <div class="card">
    <h3>COPASI 4.36 (Build 260) Released</h3>
    <p class="cardcontent">
      (05-16-22) A new stable <a href="https://copasi.org/News/2022/05/16/Release/" target="_blank" >release</a> of COPASI, 4.36 (Build 260), is now available.
      This update addresses a vulnerability in the XML parsing through the billion laughs attack. Please see the <a href="
      https://copasi.org/Support/Change_History/COPASI_4_36_Build_260/" target="_blank">changelog</a> and 
      <a href="https://copasi.org/Download/" target="_blank">download</a> pages for more information.  
    </p>
  </div>


  <div class="card">
    <h3>COPASI 4.35 (Build 258) Released</h3>
    <p class="cardcontent">
      (03-15-22) A new release of COPASI has been made available. Please visit the
 <a href="http://copasi.org/Download/" target="_blank">download page</a> to retrieve this latest stable
release. This mainly bug fix release some issue in COPASI 4.34 (Build
251). More information can be found in the 
<a href="http://copasi.org/Support/Change_History/COPASI_4_35_Build_258/" target="_blank">changelog</a>.

    </p>
  </div>

  <div class="card">
    <h3>Slepchenko Publication</h3>
    <p class="cardcontent">
      (02-18-22) Congratulations to Boris Slepchenko on his latest publication with CCAM alumnus Masoud 
      Nickaeen, <a href="https://www.molbiolcell.org/doi/full/10.1091/mbc.E21-07-0362" target="_blank">A model of actin-driven endocytosis explains differences of endocytic motility in 
      budding and fission yeast.</a> In this article they showed that a molecularly explicit model of 
      forces exerted by actin filaments on endocytic invaginations explains the differences in 
      endocytic invaginations between budding and fission yeast.
    </p>
  </div>

      <div class="card">
        <h3> Cowan and Loew Publication</h3>
        <p class="cardcontent">
        (12-03-21) Ann Cowan and Les Loew are authors on another paper with the 
        Carlier lab. This paper was published in The Biophysicist,<a href="https://meridian.allenpress.com/the-biophysicist/article/doi/10.35459/tbp.2021.000198/474420/Teaching-Mathematical-Modeling-of-Cellular-Systems" target="_blank">
        Teaching Mathematical Modeling of Cellular Systems with the VCell MathModel</a>. Congratulations on this paper and their continued collaborative work.
          </p>
      </div>

      <div class="card">
        <h3> Loew is Co-author on Paper</h3>
        <p class="cardcontent">(09-09-2021) The paper was published with collaborators from the Pollard 
          lab at Yale, published online in the Biophysical Journal 
          <a href="https://pubmed.ncbi.nlm.nih.gov/34509503/" target="_blank">(PMID 34509503)</a>. The work was started by Les some time ago to computationally explore molecular details of actin assembly and was recently revived by a graduate student in the Pollard lab.  
      </p>
      </div>

      <div class="card">
        <h3>COPASI 4.34 Release!</h3>
        <p class="cardcontent"> (08-12-21) The COPASI team announces the immediate availability of
          the stable release <a href="http://copasi.org/Download/" target="_blank"
          >COPASI 4.34 (Build 251)</a>.
        </p>

      </div>

      <div class="card">
        <h3>Blinov and Moraru Publication</h3>
        <p class="cardcontent">(07-02-21) Michael Blinov and Ion Moraru are co-authors on a paper introducing RunBioSimulations, a single
          web application for running a broad range of models. <a href="https://pubmed.ncbi.nlm.nih.gov/34019658/" target="_blank">(PMID 34019658)</a> 
        </p>

      </div>

      <div class="card">
        <h3>Cowan and Loew Publication</h3>
        <p class="cardcontent">(05-13-21) Ann Cowan and Les Loew are authors on a paper from the Carlier lab
          published in PLOS Computational Biology, Ten steps to investigate a cellular system with mathematical modeling.
          <a href="https://pubmed.ncbi.nlm.nih.gov/33983922/" target="_blank">(PMID 33983922)</a>

      </p>
    </div>
    
        <div class="card">
          <h3>Congratulations to Les Loew!</h3>
          <p class="cardcontent">(4-27-2021) <a href="https://today.uconn.edu/2021/04/five-uconn-faculty-honored-as-board-of-trustees-distinguished-professors/" target="_blank">Les Loew recognized as Board of Trustees Distinguished Professor.</a>
          </p>
        </div>
      
        <div class="card">
          <h3>COPASI New Release!</h3>
          <p class="cardcontent">(02-24-2021)
            The COPASI team announces the immediate availability of the stable release <a href="http://copasi.org/Download/" target="_blank">COPASI 4.30 (Build 240)</a>.
            </p>
        </div>
 </div>