<div class="container">
    <div class="row">
         <div class="col" style="display: flex; align-items: center;">
            <div class="col" style="text-align: center;">

                <br>
                <div class="row">
                  <div class="col-9">
                    <div class="container">
                      <div class="row">
                        <div class="col" style="text-align: center;">  
            <h1>Standards in Systems Biology</h1>
           
<br>
<table style="width: 100%;">
  <tr>
    <td>Combine</td>
    <td><a href="http://co.mbine.org/" target="_blank">co.mbine.org/</a></td>
    <td><img src="../../../assets/Combine Logo250x44.png"></td>
  </tr>
  <tr>
    <td>SBML</td>
    <td><a href="http://co.mbine.org/standards/sbml" target="_blank">co.mbine.org/standards/sbml</a></td>
    <td><img src="../../../assets/SBML Logo100x44.png"></td>
  </tr>
  <tr>
    <td>Biopax</td>
    <td><a href="http://www.biopax.org/" target="_blank">biopax.org/</a></td>
    <td><img src="../../../assets/Biopax Logo167x44.png"></td>
  </tr>
  <tr>
    <td>SBGN</td>
    <td><a href="https://sbgn.github.io/" target="_blank">sbgn.github.io/</a></td>
    <td><img src="../../../assets/SBGN Logo89x44.png"></td>
  </tr>
  <tr>
    <td>SED-ML</td>
    <td><a href="http://sed-ml.org/" target="_blank">sed-ml.org/</a></td>
    <td><img src="../../../assets/SEDML Logo68x44.png"></td>
  </tr>
  <tr>
    <td>CellML</td>
    <td><a href="https://www.cellml.org/" target="_blank">cellml.org/</a></td>
    <td><img src="../../../assets/CellML Logo85x44.png"> </td>
  </tr>
  <tr>
    <td>NeuroML</td>
    <td><a href="https://neuroml.org/" target="_blank">neuroml.org/</a></td>
    <td><img src="../../../assets/NeuroML Logo 161x44.png"> </td>
  </tr>
  </table>

  <br>
                
            <h1>Systems Biology Ontologies</h1>
            </div>
    </div>
<br>
<table style="width: 100%;">
  <tr>
    <td>SBO</td>
    <td><a href="http://www.ebi.ac.uk/sbo/main/" target="_blank">ebi.ac.uk/sbo/main/</a></td>
    <td><img src="../../../assets/SBO Logo83x55.png"></td>
  </tr>
  <tr>
    <td>KiSAO</td>
    <td><a href="http://co.mbine.org/standards/kisao" target="_blank">co.mbine.org/standards/kisao</a></td>
    <td><img src="../../../assets/Combine Logo250x44.png"></td>
  </tr>
  </table>

</div>
</div>
    

