.container{
    display: flex;
    flex-wrap: wrap;
}

.header {
    margin-bottom: 40px;
    margin-top: 75px;
}


h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: #20394B;
    text-align: center; 
  }

h3{
    margin-right: 10px;
}


/*.contact{
    padding-left: 50px;
}*/

.flex-image{
    object-fit: contain;
}

.cite{
    font-size: 12px;
}

/*.teamheader {
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 100px;
}*/

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 1px solid #dddddd;
    width: 80%;
}

td{
    border: 1px solid #dddddd;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media screen and (max-width: 990px) {
    .align{
        flex-wrap: wrap;}
    }

@media screen and (max-width: 640px){
    table td{
        display: block;
    }
    
    table{
        margin-top: 20px;
    }
   
}

/*@media screen and (max-width: 800px){
    h3{
        font-size: 15px;
        width: 100%;
    }
    
}

@media (max-width: 400px) {
    .container {
        display: flex;
    }
    h3{
        font-size: smaller;
    }
}
*/





