.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-top: 30px;
}


h1{
    font-family: sans-serif;
    color: #263845;
    text-align: center; 
    padding-bottom: 20px;
  }


h3{
    padding-top: 5px;
    padding-left: 10px;
    color: #263845;
}

@media (max-width: 640px) {
    h1 {
    font-size: 1.5rem;
    }
    h3{
        margin:auto;
    }
    }
    

.intro{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #EBEFD9;
    margin-bottom: 20px;
}

#intro-paragraph{
    font-family: sans-serif;
    padding-top: 5px;
    padding-left: 10px;
    /*color: #426078;*/
    color:#0D3B66;
    font-size: 1.1em;
    line-height: 1.7;
}

.flex-image{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-right: 10px;
}

.faculty-image {
  max-width: 100%;       /* Prevent overflow */
  height: auto;          /* Maintain aspect ratio */
  display: block;        /* Avoid inline spacing issues */
  max-width: min(100%, 400px); /* Optional: cap at 400px or any size you prefer */
}

.cite{
    font-size: 12px;
}

.faculty{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 2px solid #dddddd;
}


hr.solid{
    border-top: 1px solid #dddddd;
    height: 2px;
}


/*table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 1px solid #dddddd;
    width: 90%;
}

td{
    border: 1px solid #dddddd;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 640px){
    table td{
        display: block;
    }
    
    table{
        margin-top: 20px;
    }
   
}*/
