<div class="header">
        <h1>Meet Our Computational Cell Biology Team</h1>
</div>

    <div class="container">
    <div class="intro">
        <div class="row">
            <div class="col-sm-6">
                <h3>Both the VCell and COPASI development teams are associated with the <a href="https://medicine.uconn.edu/" target="_blank">UConn School of Medicine</a>, and the <a href="https://health.uconn.edu/cell-analysis-modeling/" target="_blank">R. D. Berlin Center for Cell Analysis and Modeling (CCAM)</a>. The maintenance, support and dissemination of both of these software resources in a single research center in one physical location offers unique opportunities for synergy.
                    <br>
                    <br>
                    Contact: <a href="mailto:les@uchc.edu">Leslie Loew</a> or <a href="mailto:pmendes@uchc.edu">Pedro Mendes</a></h3>
            </div>
        
            <div class="col-sm-6">
                <figure>
                <img class="flex-image" src="../../../assets/Les and Pedro UConn Photo SeanFlynn small.png">
                <figcaption style="font-size: smaller;">(Drs. Leslie Loew, left, and Pedro Mendes)
                    <cite class="cite">UConn Photo Sean Flynn</cite>
                </figcaption>
                </figure>
            </div>
        </div>
    </div>

<table>
    <tr>
        <td colspan="2">
            <a href="https://facultydirectory.uchc.edu/profile?profileId=Loew-Leslie" target="_blank">Leslie M. Loew, Ph.D.,</a> is Board of Trustees Distinguished Professor of Cell Biology and Boehringer Ingelheim Chair in Cell Biology and former Director of the Center for Cell Analysis and Modeling (CCAM). Les has led the VCell development team since its inception in 1998.  In addition to providing overall leadership of VCell development and dissemination, Les plays a significant role engaging with the cell modeling community and in direct VCell user support. 
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="https://facultydirectory.uchc.edu/profile?profileId=Mendes-Pedro" target="_blank">Pedro Mendes, Ph.D.,</a> is Professor of Cell Biology and Director of the Center for Cell Analysis and Modeling and Director of the Center for Quantitative Medicine. He developed the forerunner of COPASI, GEPASI, and is PI of the grant funding COPASI development with collaborators in the Computational Biology group at University of Heidelberg and the Biocomplexity Institute and Initiative at the University of Virginia.  In addition to leading COPASI development and dissemination, Pedro is very active in the systems biology software developer community and in standards development. 
        </td>
    </tr>
    <tr>
        <td>
            <img src="../../../assets/Cowan.png">
        </td>
        <td>
            <a href="https://facultydirectory.uchc.edu/profile?profileId=Cowan-Ann" target="_blank">Ann Cowan</a> is Professor of Molecular Biology and Biophysics and Deputy Director of CCAM. Trained in cell and developmental biology and biophysics, she has organized Training and Outreach activities since the start of the VCell project in 1998, and continues as Resource Manager of the Computational Cell Biology Resource. She has designed VCell modules as tools for analyzing dynamic fluorescence imaging experiments as well as curating models from publications in the VCell database as a community model resource.  Ann designs the VCell Help as well as online training materials and video tutorials, and participates extensively in user support.  
        </td>
    </tr>
    <tr>
        <td>
            <img src="../../../assets/Moraru.png">
        </td>
        <td>
            <a href="https://facultydirectory.uchc.edu/profile?profileId=Moraru-Ion" target="_blank">Ion Moraru</a> is Professor of Cell Biology and Director of the CCAM High Performance Computing Facility.  A biophysicist with formal training in both mathematics and medicine, he has been the primary architect of the computational infrastructure supporting VCell, which he further developed into a university-wide high performance computing facility.  Ion directs software development within the VCell project and serves as a liaison to the computational biology and bioinformatics communities.  Ion oversees integration of all the computing hardware associated with the resource. As Co-PI of the P41 funded Center for Reproducible Modeling, Ion also oversees integration of VCell for the spatial modeling and visualization components of this Center. 
        </td>
    </tr>
    <tr>
        <td>
            <img src="../../../assets/Slepchenko.png">
        </td>
        <td><a href="https://facultydirectory.uchc.edu/profile?profileId=Slepchenko-Boris" target="_blank">Boris Slepchenko</a> is Associate Professor of Cell Biology. A mathematical physicist, he is the driving force behind the physics and math backbone of VCell.  Boris assists the user community in issues with the numerics infrastructure of VCell and assist in creating stand-alone solver packages.  </td>

    </tr>
    <tr>
        <td>
            <img src="../../../assets/Blinov.png">
        </td>
        <td>
            <a href="https://facultydirectory.uchc.edu/profile?profileId=Blinov-Mikhail" target="_blank">Michael Blinov</a> is Associate Professor of Genetics and Genome Sciences with formal training in mathematics and is one of the inventors of the BioNetGen rule based modeling language. Michael develops tutorials and guides and provides direct assistance to users, particularly related to rule based modeling in VCell. Michael is also a key contributor in developing the VCell database and interfaces to external databases resources. He is also very active in outreach activities to both the user and software development communities. 
        </td>
    </tr>
    <tr>
        <td>
            <img src="../../../assets/Hoops.png">
        </td>
        <td>
            <a href="https://biocomplexity.virginia.edu/person/stefan-hoops" target="_blank">Stefan Hoops</a> is Research Associate Professor of Network Systems Science and Advanced Computing Division.  Trained in mathematical physics, he also worked as a professional software developer for five years before returning to academia. Stefan has been the main software architect of COPASI since its inception, and has also contributed to several other systems biology simulation packages (JigCell, ENISI-MSM, PlantCellSim). Stefan is involved in all technical aspects related with COPASI maintenance, including testing and debugging activities, and advises in porting features of COPASI to VCell.
        </td>
    </tr>        
    <tr>
        <td>
            <img src="../../../assets/Morgan.png">
        </td>
        <td>
            <b>Frank Morgan</b>, Research Associate, has been a software developer with the VCell team since its inception, and provides the majority of expertise in refining the VCell API to enable additional integration of VCell technologies with other software, and developing ImageJ plugins to access VCell technologies.  Frank plays a major role assisting with user accounts, and in VCell database development and integrity.  Frank also assists in ensuring continuous access to VCell compute facilities for users, and ensuring integrity of the software builds for the three major operating systems. 
        </td>
    </tr>
    <tr>
        <td>
            <img src="../../../assets/Vasilescu.png">
        </td>
        <td>
            <b>Daniel Vasilescu</b>, Research Associate, is a programmer who has been a part of the VCell team for over 10 years. He was instrument in developing the integration of VCell with the BioPax ontology to enable embedded use of Pathway Commons and for model annotation. Dan was also integral to developing the GUI for development of rule-base models. He developed the interface that allowed VCell users to directly access COPASI parameter estimation tools, and works to maintaining compatibility with the SBML standard. Dan supports collaborations with external developers to help integrate other software in VCell. 
        </td>
    </tr>

</table>
</div>

