<mat-toolbar color="primary">
  <div class="container-fluid">
    <div class="row">
      <!--<div class="col">
        <img src="../../../assets/CompCellBio-logo-waves.png" alt="CompCellBio Logo" height="50px" routerLink="/">
      </div>-->
      <!--<div class="col" style=" display: flex; text-align: center;">-->
          <!--<div><mat-nav-list class="list-horizontal">-->

        
        <button mat-button routerLink='home'>Home</button>
        <button mat-button routerLink='about'>About</button>
        <button mat-button routerLink='educational-resources'>Educational Resources</button>
        <button mat-button routerLink='database-resources'>Database Resources</button>
        <button mat-button routerLink='software-resources'>Software Resources</button>
        <button mat-button routerLink='publications'>Publications</button>
        <button mat-button routerLink='upcoming-workshops'>Upcoming Workshops</button>

        <!--<mat-list-item>
          <button mat-menu-item [matMenuTriggerFor]="billsmenu">Bills</button>
        </mat-list-item>
        <mat-menu #billsmenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Bill Management</span>
          </button>
        </mat-menu> -->


        <!-- </mat-nav-list> -->
      <!--</div>-->
    </div>
  </div>
</mat-toolbar>