button:focus, 
button:active:focus, 
button.active:focus {
    outline: rgb(255, 255, 255) !important;
    outline-style: solid !important;
    color: rgb(238, 255, 0);
}

button:hover{
    color: #FFFFAA;
}


img:focus, 
img:active:focus, 
img.active:focus {
    outline: none !important;
    outline-style: none !important;
}