<p>
  <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
            <span>CompCellBio</span>
            <span>
                <a [routerLink]="'/home'"> Home </a>
            </span>
            <br>
            <a mat-button [routerLink]="'/about'"> About </a>
            <a mat-button [routerLink]="'/educational-resources'"> Eductaional Resources </a>
            <a mat-button [routerLink]="'/database-resources'"> DataBase Resources </a>
            <a mat-button [routerLink]="'/software resources'"> Software Resources </a>
            <a mat-button [routerLink]="'/publications'"> Publications </a>
            <a mat-button [routerLink]="'/upcoming-workshops'"> Upcoming Workshops </a>

      </mat-toolbar-row>
   
    </mat-toolbar>
</p>
