<!--Diego Pardo Ribbon-->

<div class="header">
    <h1>Conferences & Workshops</h1>
  </div>
  <div class="container">
    <table class="table table-bordered table-hover tablesaw tablesaw-stack top">
            <caption style="background-color: #ED9566">2024</caption>
            <thead>
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Dates</th>
                    <th scope="col">Location</th>
                    <th scope="col">Organizers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Event"><a href="../../../assets/CCB Workshop Online 2024.pdf">25th Annual Online CCB Workshop</a></td>
                    <td data-label="Dates">February 26-28, 2024</td>
                    <td data-label="Location">Virtual - UConn Health, Connecticut, USA</td>
                    <td data-label="Organizers">VIrtual Cell & COPASI</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://co.mbine.org/events/" target="_blank">Harmony 2024</a></td>
                    <td data-label="Dates">April 8-11, 2024</td>
                    <td data-label="Location">UCL, London, UK</td>
                    <td data-label="Organizers">COMBINE</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://recomb.org/recomb2024/" target="_blank">RECOMB 2024</a></td>
                    <td data-label="Dates">April 29 - May 2, 2024</td>
                    <td data-label="Location">Cambridge, MA, USA</td>
                    <td data-label="Organizers">RECOMB</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://eacr.org/conference/cancermultiomics2024/index" target="_blank">Cancer Genomics, Multiomics and Computational Biology</a></td>
                    <td data-label="Dates">April 30 - May 2, 2024</td>
                    <td data-label="Location">Bergamo, Italy</td>
                    <td data-label="Organizers">EACR</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://www.iscb.org/glbio2024/home" target="_blank">Great Lakes Bioinformatics Conference</a></td>
                    <td data-label="Dates">May 13 - 16, 2024</td>
                    <td data-label="Location">University of Pittsburgh, Pittsburgh, PA, USA</td>
                    <td data-label="Organizers">GLBIO</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://www.iscb.org/ismb2024/home" target="_blank">Intelligent Systems for Molecular Biology</a></td>
                    <td data-label="Dates">July 12 - 16, 2024</td>
                    <td data-label="Location">Montreal, Canada</td>
                    <td data-label="Organizers">iSCB</td>
                </tr>

                <tr>
                    <td data-label="Event"><a routerLink="/ccbworkshop">25th Annual CCB Workshop</a></td>
                    <td data-label="Dates">July 22-24, 2024</td>
                    <td data-label="Location">UConn Health, Connecticut, USA</td>
                    <td data-label="Organizers">VIrtual Cell & COPASI</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://conferences.koushare.com/qbio2024siat" target="_blank">18th Annual Q-BIO 2024</a></td>
                    <td data-label="Dates">July 26 - 29, 2024</td>
                    <td data-label="Location">Shenzhen, China</td>
                    <td data-label="Organizers">Q-Bio</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://eccb2024.fi/" target="_blank">23rd European Conference on Computational Biology</a></td>
                    <td data-label="Dates">September 16 - 20, 2024</td>
                    <td data-label="Location">Turku, Finland</td>
                    <td data-label="Organizers">ECCB</td>
                </tr>
            </tbody>
        </table>
    </div>
<br>
<br>

  <div class="container">
    <table class="table table-bordered table-hover tablesaw tablesaw-stack top">
            <caption style="background-color: #6FBA59">2023</caption> <!--orig color #615ec4 -->
            <thead>
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Dates</th>
                    <th scope="col">Location</th>
                    <th scope="col">Organizers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Event"><a href="https://www.biologists.com/workshops/nov-2023/" target="_blank">Single Cell View 3D Genome Architecture</a></td>
                    <td data-label="Dates">November 26-29, 2023</td>
                    <td data-label="Location">Buxted Park, East Sussex, UK</td>
                    <td data-label="Organizers">The Company of Biologists</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="http://icsb2020.bioscience-ct.net/" target="_blank">ICSB 2023</a></td>
                    <td data-label="Dates">October 8-12, 2023</td>
                    <td data-label="Location">Hartford, Connecticut, USA</td>
                    <td data-label="Organizers">ICSB</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://co.mbine.org/events/" target="_blank">COMBINE 2023</a></td>
                    <td data-label="Dates">October 5-8, 2023</td>
                    <td data-label="Location">Farmington, Connecticut, USA</td>
                    <td data-label="Organizers">COMBINE</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://compucell3d.org/Workshop23" target="_blank">2023 CompuCell3D Multicell Virtual Tissue Modeling ONLINE Summer School & Hackathon</a></td>
                    <td data-label="Dates">July 31, August 1 - 4, August 7 - 11, and August 12 - 13, 2023</td>
                    <td data-label="Location">Online/Virtual</td>
                    <td data-label="Organizers">CompuCell3D</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://www.iscb.org/ismbeccb2023" target="_blank">ISMB/ECCB 2023</a></td>
                    <td data-label="Dates">July 23 - 27, 2023</td>
                    <td data-label="Location">Centre de Congrès de Lyon, Lyon, France</td>
                    <td data-label="Organizers">ICSB</td>
                </tr>
                <tr>
                    <td data-label="Event"><a routerLink="/ccbworkshop">24th On-site CCB Workshop</a></td>
                    <td data-label="Dates">June 26 - 28, 2023</td>
                    <td data-label="Location">UConn Health, Connecticut, USA</td>
                    <td data-label="Organizers">Virtual Cell & COPASI</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://www.embl.org/about/info/course-and-conference-office/events/qpr23-01/" target="_blank">Quantitative proteomics: strategies and tools to probe biology</a></td>
                    <td data-label="Dates">June 11-16, 2023</td>
                    <td data-label="Location">EMBL Heidelberg, Germany</td>
                    <td data-label="Organizers">EMBO Practical Course</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://q-bio.org/wp/" target="_blank">UQ-Bio 2023 Summer School </a></td>
                    <td data-label="Dates">May 31 - June 14, 2023</td>
                    <td data-label="Location">Colorado State University, Fort Collins, Colorado, USA</td>
                    <td data-label="Organizers">Colorado State University</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://co.mbine.org/events/" target="_blank">Harmony 2023</a></td>
                    <td data-label="Dates">April 24-27, 2023</td>
                    <td data-label="Location">Seattle, Washington, USA</td>
                    <td data-label="Organizers">COmputational Modeling in BIology NEtwork (COMBINE)</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://www.uni-bonn.de/en/research-and-teaching/research-profile/excellence-strategy/conference-mathematical-life-sciences" target="_blank">Mathematical Life Sciences</a></td>
                    <td data-label="Dates">April 17-20, 2023</td>
                    <td data-label="Location">Bonn, Germany</td>
                    <td data-label="Organizers">Universität Bonn</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="http://recomb2023.bilkent.edu.tr/index.html" target="_blank">RECOMB 2023</a></td>
                    <td data-label="Dates">April 16-19, 2023</td>
                    <td data-label="Location">Istanbul, Turkey</td>
                    <td data-label="Organizers">RECOMB</td>
                </tr>
               
                <tr>
                    <td data-label="Event"><a routerLink="/ccbworkshop">24th CCB Workshop</a></td>
                    <td data-label="Dates">February 13-15, 2023</td>
                    <td data-label="Location">UConn Health, Connecticut, USA</td>
                    <td data-label="Organizers">Virtual Cell & COPASI</td>
                </tr>
            </tbody>
</table>
</div>

<br>
<br>

<div class="container">
        <table class="table table-bordered table-hover tablesaw tablesaw-stack top">
                <caption>2022</caption>
            <thead>
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Dates</th>
                    <th scope="col">Location</th>
                    <th scope="col">Organizers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Event"><a href="https://cellfate.uci.edu/symposium-2022/" target="_blank">5th Annual Symposium on Multiscale Cell Fate</a>
                    </td>
                    <td data-label="Dates">October 24 - 25, 2022</td>
                    <td data-label="Location">UC Irvine, USA</td>
                    <td data-label="Organizers">NSF-Simons Center for Mulitscale Cell Fate Research (CMCF)</td>
                </tr>
               
                <tr>
                    <td data-label="Event"><a href="https://www.biologists.com/workshops/october-2022/" target="_blank">From Physics to Function</a>
                    </td>
                    <td data-label="Dates">October 9 - 12, 2022</td>
                    <td data-label="Location">Buxted Park, East Sussex, UK</td>
                    <td data-label="Organizers">Johanna Ivaska and Xavier Trepat</td>
                </tr>
                
                <tr>
                    <td data-label="Event"><a href="https://www.icsb2022.berlin/home" target="_blank">ICSB 2022</a>
                    </td>
                    <td data-label="Dates">October 8 - 12, 2022</td>
                    <td data-label="Location">Berlin, Germany</td>
                    <td data-label="Organizers">ICSB</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://combine-org.github.io/events/" target="_blank">COMBINE 2022</a></td>
                    <td data-label="Dates">October 6 - 8, 2022</td>
                    <td data-label="Location">Humbodlt University of Berlin, Germany</td>
                    <td data-label="Organizers">COMBINE</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://coming-soon.embo.org/w22-02" target="_blank">Workshop: Physics of cells: PhysCell2022</a></td>
                    <td data-label="Dates">September 12-16, 2022</td>
                    <td data-label="Location">Ein Gedi, Israel</td>
                    <td data-label="Organizers">EMBO</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://asb-conference.hki-jena.de/" target="_blank">IbSB 2022 - 6th International Symposium on Image-based Systems Biology</a></td>
                    <td data-label="Dates">September 8-9, 2022</td>
                    <td data-label="Location">Jena, Germany</td>
                    <td data-label="Organizers">Applied Systems Biology</td>
                </tr>
                
                <tr>
                    <td data-label="Event"><a href="https://docs.google.com/forms/d/e/1FAIpQLScoF2imBl1WviTrZHYzp3duY5aJz-CRTCrRIjP2Rm7boaUmqw/viewform" target="_blank">
                        2022 Virtual PhysiCell Workshop & Hackathon</a></td>
                    <td data-label="Dates">July 24-30, 2022</td>
                    <td data-label="Location">Virtual Event</td>
                    <td data-label="Organizers">PhysiCell</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://mmbios.pitt.edu/news/56-outreach/workshops/2022-workshops/255-cell-modeling-workshop-2022" target="_blank">Cell Modeling Workshop 2022</a></td>
                    <td data-label="Dates"> July 11 - 15, 2022</td>
                    <td data-label="Location">Online</td>
                    <td data-label="Organizers">National Center for Multiscale Modeling of Biological Systems</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://www.biologists.com/workshops/july-2022/" target="_blank">Fostering Quantitative Modelling and Experimentation in Developmental Biology</a>
                    </td>
                    <td data-label="Dates">July 10-13, 2022</td>
                    <td data-label="Location">Buxted Park, East Sussex, UK</td>
                    <td data-label="Organizers">Sarah Bray and Richard Carthew</td>
                </tr>
                <tr>
                    <td data-label="Event">
                        <a href="https://mmbios.pitt.edu/news/56-outreach/workshops/2022-workshops/254-hands-on-workshop-on-computational-biophysics-2022" target="_blank">Hands-on Workshop on Computational Biophysics 2022</a>
                    </td>
                    <td data-label="Dates">July 5 - July 8, 2022</td>
                    <td data-label="Location">Online</td>
                    <td data-label="Organizers">Theoretical and Computational Biophysics Group, University of Illinois at Urbana-Champaign (UIUC) & National Center for Multiscale Modeling of Biological Systems, University of Pittsburgh.</td>
                </tr>
                <tr>
                    <td data-label="Event">
                    <a href="https://q-bio.org/wp/" target="_blank">15th Annual q-bio Conference</a>
                    </td>
                    <td data-label="Dates">June 16-17, 2022</td>
                    <td data-label="Location">Fort Colllins, Colorado, USA</td>
                    <td data-label="Organizers">Colorado State University</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://ccbs.uci.edu/education/fasb-sc/" target="_blank">Systems Biology - Foundations</a>
                        <br> & <a href="https://ccbs.uci.edu/education/casb-sc/" target="_blank">Cancer Systems Biology</a>
                    </td>
                    <td data-label="Dates">Prep week (online): May 24, 25, 26, 31 June 1, 2, 2022
                        <br>
                        Core weeks (on site): June 6 - 16, 2022
                    </td>
                    <td data-label="Location">UC Irvine, California, USA</td>
                    <td data-label="Organizers">NIH-funded Short Courses</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://coming-soon.embo.org/pc21-16" target="_blank">Practical Course: Computational Optical Biology</a>
                    </td>
                    <td data-label="Dates">May 23–28, 2022</td>
                    <td data-label="Location">Oeiras, Portugal</td>
                    <td data-label="Organizers">EMBO</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://compcellbio.org/assets/VCell%20ShortCourse%20Online%202022.pdf" target="_blank">23rd CCB Workshop</a></td>
                    <td data-label="Dates">May 23-25, 2022</td>
                    <td data-label="Location">UConn Health, Connecticut, USA</td>
                    <td data-label="Organizers">Virtual Cell & COPASI</td>
                </tr>
                <tr>
                    <td data-label="Event"><a href="https://w-qbio.org/" target="_blank">9th Annual Winter q-Bio Conference</a></td>
                    <td data-label="Dates">February 14-18, 2022</td>
                    <td data-label="Location">Hawaii, USA</td>
                    <td data-label="Organizers">q-Bio</td>
                </tr>
            </tbody>
            </table>
    
            <br>
            <br>
            <table class="table table-bordered table-hover tablesaw tablesaw-stack top">
            <caption style="background-color: #615ec4">2021</caption>
                <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Dates</th>
                        <th scope="col">Location</th>
                        <th scope="col">Organizers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Event">
                        <a href="https://vcell.org/wp-content/uploads/2021/03/VCell-ShortCourse-Online-2021.pdf" target="_blank">22nd CCB Workshop</a>
                        </td>
                        <td data-label="Dates">June 21-23, 2021</td>
                        <td data-label="Location">Virtual</td>
                        <td data-label="Organizers">Center for Cell Analysis & Modeling</td>
                    </tr>
                    <tr>
                        <td data-label="Event">
                            <a href="https://mmbios.pitt.edu/workshops/2021-workshops/54-outreach/workshops/2021-workshops/245-virtual-hands-on-workshop-on-computational-biophysics-2021" target="_blank">Virtual Hands-on Workshop on Computational Biophysics 2021</a>
                        </td>
                        <td data-label="Dates">June 28 - July 1, 2021</td>
                        <td data-label="Location">Virtual</td>
                        <td data-label="Organizers">National Center for Multiscale Modeling of Biological Systems</td>
                    </tr>
                    <tr>
                        <td data-label="Event"><a href="http://physicell.org/ws2021/" target="_blank">2021 PhysiCell Workshop and Hackathon</a></td>
                        <td data-label="Dates">July 25 - July 31, 2021</td>
                        <td data-label="Location">Virtual</td>
                        <td data-label="Organizers">PhysiCell</td>
                    </tr>
                    <tr>
                        <td data-label="Event"><a href="https://compucell3d.org/Workshop21" target="_blank">2021 Multicell Vitual Tissue Modeling Online Summer School & Hackathon</a></td>
                        <td data-label="Dates">August 1 - 8, 2021</td>
                        <td data-label="Location">Virtual</td>
                        <td data-label="Organizers">CompuCell3D</td>
                    </tr>
                </tbody>
            </table>
</div>


           
        

