<div class="container">
    <div class="row">
         <div class="col" style="display: flex; align-items: center;">
            <div class="col" style="text-align: center;">

                <br>
                <div class="row">
                  <div class="col-9">
                    <div class="container">
                      <div class="row">
                        <div class="col" style="text-align: center;">  
            <h1>Standards in Systems Biology</h1>
           
<br>
<table style="width: 100%;">
  <tr>
    <td><a href="http://co.mbine.org/" target="_blank">Combine</a></td>
    <td><img src="../../../assets/Combine Logo250x44.png"></td>
  </tr>
  <tr>
    <td><a href="http://co.mbine.org/standards/sbml" target="_blank">SBML</a></td>
    <td><img src="../../../assets/SBML Logo100x44.png"></td>
  </tr>
  <tr>
    <td><a href="http://www.biopax.org/" target="_blank">Biopax</a></td>
    <td><img src="../../../assets/Biopax Logo167x44.png"></td>
  </tr>
  <tr>
    <td><a href="https://sbgn.github.io/" target="_blank">SBGN</a></td>
    <td><img src="../../../assets/SBGN Logo89x44.png"></td>
  </tr>
  <tr>
    <td><a href="http://sed-ml.org/" target="_blank">SED-ML</a></td>
    <td><img src="../../../assets/SEDML Logo68x44.png"></td>
  </tr>
  <tr>
    <td><a href="https://www.cellml.org/" target="_blank">CellML</a></td>
    <td><img src="../../../assets/CellML Logo85x44.png"> </td>
  </tr>
  <tr>
    <td><a href="https://neuroml.org/" target="_blank">NeuroML</a></td>
    <td><img src="../../../assets/NeuroML Logo 161x44.png"> </td>
  </tr>
  </table>

  <br>
                
            <h1>Systems Biology Ontologies</h1>
            </div>
    </div>
<br>
<table style="width: 100%;">
  <tr>
    <td><a href="http://www.ebi.ac.uk/sbo/main/" target="_blank">SBO</a></td>
    <td><img src="../../../assets/SBO Logo83x55.png"></td>
  </tr>
  <tr>
    <td><a href="http://co.mbine.org/standards/kisao" target="_blank">KiSAO</a></td>
    <td><img src="../../../assets/Combine Logo250x44.png"></td>
  </tr>
  </table>

</div>
</div>
    

