        <div class="header">
          <h1>Standards in Systems Biology</h1>
        </div>
        <div class="row1-container">
          <div class="box blue">
            <a href="http://www.biopax.org/" target="_blank"><img src="../../../assets/Biopax Logo167x44.png" alt=""></a>

          </div>
          <div class="box red box-down">
            <a href="https://www.cellml.org/" target="_blank"><img src="../../../assets/CellML Logo85x44.png" alt=""></a>

          </div>
          <div class="box teal">
            <a href="http://co.mbine.org/" target="_blank"><img src="../../../assets/Combine167x44.png" alt=""></a>
        
          </div>
        </div>

        <div class="row2-container">
          <div class="box orange">
            <a href="https://neuroml.org/" target="_blank"><img src="../../../assets/NeuroML Logo 161x44.png" alt=""></a>
  
          </div>
          <div class="box ltblue box-down">
            <a href="https://sbgn.github.io/" target="_blank"><img src="../../../assets/SBGN Logo89x44.png" alt=""></a>

          </div>
          <div class="box ltblue box-down">
            <a href="http://co.mbine.org/standards/sbml" target="_blank"><img src="../../../assets/SBML Logo100x44.png" alt=""></a>

          </div>
          <div class="box blue">
            <a href="https://sed-ml.org/" target="_blank"><img src="../../../assets/SEDML Logo68x44.png" alt=""></a>

          </div>
      </div>
          <!--Jared Parsons Cards-->
        <div class="header">
          <h1>Systems Biology Ontologies</h1>
        </div>
        <div class="row1-container">
          <div class="box teal">
            <a href="http://co.mbine.org/standards/kisao" target="_blank"><img src="../../../assets/Combine KiSAO Logo.PNG" alt=""></a>
          </div>
        <div class="box purple">
        <a href="http://www.ebi.ac.uk/sbo/main/" target="_blank"><img src="../../../assets/SBO Logo H66.png" alt=""></a>
      </div>
        </div>

        <div class="header">
          <h1>Networks</h1>
        </div>
        <div class="row1-container">
          <div class="box teal">
            <a href="http://co.mbine.org/standards/kisao" target="_blank"><img src="../../../assets/Combine KiSAO Logo.PNG" alt=""></a>
          </div>
          <div class="box ltblue box-down">
            <a href="http://co.mbine.org/standards/sbml" target="_blank"><img src="../../../assets/SBML Logo100x44.png" alt=""></a>

          </div>
          <div class="box orange box-down">
            <a href="https://www.biosimulations.org/" target="_blank"><img src="../../../assets/BioSimulations Logo165x44.png" alt=""></a>

          </div>
          <div class="box green">
            <a href="https://www.ebi.ac.uk/" target="_blank"><img src="../../../assets/EMBL-EBI167x44.png" alt=""></a>

          </div>
        </div>
        

      