<body>
  <!-- <div class="container"> -->
    <div class="header">
      <h1>Coordinating Standards in Modeling for Biology</h1>
   </div>

  <div class="row1-container">
    <div class="box teal">
      <a href="http://co.mbine.org/" target="_blank"><img src="../../../assets/Combine167x44.png" alt="COmputational Modeling in BIology NEtwork” (COMBINE)"></a>
    </div>
  </div>
        
  <div class="categoryStandards">
      <h1>Standards in Systems Biology</h1>
  </div>
    <div class="row2-container">
      <div class="box blue">
        <a href="http://www.biopax.org/" target="_blank"><img src="../../../assets/Biopax Logo167x44.png" alt="Biological Pathway Exchange (BioPAX)"></a>
        </div>
      <div class="box red">
        <a href="https://www.cellml.org/" target="_blank"><img src="../../../assets/CellML Logo85x44.png" alt="CellML project"></a>
      </div>
    </div>

    <div class="row2b-container">
      <div class="box orange">
        <a href="https://neuroml.org/" target="_blank"><img src="../../../assets/NeuroML Logo 161x44.png" alt="NeuroML"></a>
      </div>
      <div class="box ltblue box-down">
        <a href="https://sbgn.github.io/" target="_blank"><img src="../../../assets/SBGN Logo89x44.png" alt="Systems Biology Graphical Notation (SBGN)"></a>
      </div>
      <div class="box ltblue box-down">
        <a href="https://sbml.org/" target="_blank"><img src="../../../assets/SBML Logo100x44.png" alt="Systems Biology Markup Language (SBML)"></a>
      </div>
      <div class="box blue">
        <a href="https://sed-ml.org/" target="_blank"><img src="../../../assets/SEDML Logo68x44.png" alt="Simulation Experiment Description Markup Language (SED-ML)"></a>
      </div>
    </div>
          <!--Jared Parsons Cards-->
    <div class="categorydown">
      <h1>Systems Biology Ontologies</h1>
    </div>
      <div class="row3-container">
        <div class="box teal">
          <a href="https://co.mbine.org/author/kisao/" target="_blank"><img src="../../../assets/Combine KiSAO Logo.PNG" alt="Kinetic Simulation Algorithm Ontology (KiSAO)"></a>
        </div>
        <div class="box purple">
        <a href="https://github.com/EBI-BioModels/SBO" target="_blank"><img src="../../../assets/SBO Logo H44.png" alt="SBO: Systems Biology Ontology"></a>
        </div>
      </div>

    <div class="categoryNetworks">
      <h1>Networks</h1>
    </div>
      <div class="row4-container">
        <div class="box orange">
          <a href="https://www.biosimulations.org/" target="_blank"><img src="../../../assets/BioSimulations Logo165x44.png" alt="BioSimulations Platform"></a>
        </div>
        <div class="box teal">
          <a href="https://co.mbine.org/author/kisao/" target="_blank"><img src="../../../assets/Combine KiSAO Logo.PNG" alt="Kinetic Simulation Algorithm Ontology (KiSAO)"></a>
        </div>
        <div class="box springgreen">
          <a href="https://www.comses.net/about/" target="_blank"><img src="../../../assets/CoMSES122x44.png" alt="Network for Computational Modeling in the Social and Ecological Sciences (CoMSES Net)"></a>
        </div>
      </div>
        <div class="row4b-container">
          <div class="box green">
            <a href="https://www.ebi.ac.uk/" target="_blank"><img src="../../../assets/EMBL-EBI167x44.png" alt="EMBL-EBI European Bioinformatics Institute"></a>
          </div>
          <div class="box coolblue box-down">
            <a href="https://home.ndexbio.org/index/" target="_blank"><img src="../../../assets/NDEX 142x44.png" alt="Network Data Exchange-NDEx"></a>
          </div>
          <div class="box ltblue box-down">
            <a href="https://sbml.org/" target="_blank"><img src="../../../assets/SBML Logo100x44.png" alt="Systems Biology Markup Language (SBML)"></a>
          </div>
          <div class="box brown">
            <a href="https://qbc.ucsf.edu/" target="_blank"><img src="../../../assets/QBC Logo.png" alt="Quantitative Biosciences Consortium (QBC)"></a>
          </div>
        </div>
  <!-- </div> -->
</body>
      
