.header {
    text-align: center;
    padding-top: 30px; 
}

h1{
    font-family: sans-serif;
    color: #263845;
    text-align: center; 
  }


  @media (max-width: 640px) {
    h1 {
        font-size: 1.5rem;
    }
}


.categorydown{
    text-align: center;
    line-height: 0.8;
    margin-top: 90px;
}

.categoryStandards{
    text-align: center;
    line-height: 0.8;
    margin-bottom: 5px;
    margin-top: 50px;
}

.categoryNetworks{
    text-align: center;
    line-height: 0.8;
    margin-bottom: 5px;
    margin-top: 20px;
}


.box {
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
    padding: 20px;
    margin: 20px; 
}

.box:hover {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 950px) and (min-width: 270px) {
    .box {
        // text-align: center;
        height: 100px;
    }
  }


.blue {
    border-top: 3px solid #2f7acd;
}
.brown {
    border-top: 3px solid #453e3b;
}

.red {
    border-top: 3px solid #cc0000;
}
.ltblue {
    border-top: 3px solid #45acdf;
}
.coolblue {
    border-top: 3px solid #0c7dc0;
}
.orange {
    border-top: 3px solid #f3854a;
}
.teal{
  border-top: 3px solid #1D636A;
}
.ltgreen{
  border-top: 3px solid #629492;
}
.purple{
    border-top: 3px solid #6a3db5;
}
.green{
    border-top: 3px solid #6dab49;
}

.springgreen{
    border-top: 3px solid #8ad03a;
}

 @media (min-width: 950px) {
    .row1-container { /*Coordinating Standards*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .row2-container { /*Standards*/
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .row2b-container { /*Standards*/
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .row3-container { /*Systems Biology*/
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
  }

    .row4-container { /*Networks*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

    .row4b-container { /*Networks*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

    .box-down {
        position: relative;
        top: 40px;
    }

    .box {
        // width: 20%;
        width: 25%;
    }
 }
    

 @media (max-width: 950px) and (min-width: 270px) {

    .categorydown{
        margin-top: 50px;
    }

    .categoryNetworks{
        margin-top: 50px;
    }

}
