<div class="flex-container">
    <div class="flex-row">
        <div class="col-sm-6" style="display: flex; align-items: left;">
            <a href="http://copasi.org/" target="_blank">
            <img  src="../../../assets/Copasi White Text Light BG.png" alt="Copasi Logo">
        </a>
        </div>
       
        <div class="col-sm-6" style="text-align: right;">
            <a href="https://vcell.org/" target="_blank">
            <img  src="../../../assets/VCell Logo.png" alt="VCell Logo">
        </a>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="content">
                <h1 class="ribbon content">
                    23rd Annual CCB Workshop <br>
                    May (virtual) and July (in-person) 2022</h1>
                <h3 style="text-align: center;">We are pleased to announce both an online and an in-person Computational Cell Biology Workshop for 2022.</h3>
                <p>The CCB Workshops provides hands-on help to cell biologists and biophysicists as they develop models of their own systems using Virtual Cell, COPASI or SpringSaLaD software.</p>
                <p>The online workshop will be hosted May 23-25, 2022, while the in-person workshop will be held July 25-27, 2022.</p>
                <p>Additional information will be posted as we approach the registration dates for the two workshops.</p>
                <table>
                    <caption>Meet Our Featured Speakers for the May 23-25, 2022, Online Workshop</caption>
                    <tr>
                        <td><img src="../../../assets/AurelieCarlier.png"><br><a href="https://www.maastrichtuniversity.nl/a.carlier" target="_blank">Aur&eacute;lie Carlier, Maastricht University</a>
                        </td>
                        <td><img src="../../../assets/PadminiRangamani.png"><br><a href="https://bioengineering.ucsd.edu/content/padmini-rangamani" target="_blank">Padmini Rangamani, UC San Diego</a>
                        </td>
                        <td><img src="../../../assets/MelanieStefan.png"><br><a href="https://www.ed.ac.uk/discovery-brain-sciences/our-staff/research-groups/dr-melanie-i-stefan" target="_blank">Melanie Stefan, University of Edinburgh</a>
                        </td>
                    </tr>
                </table>

                </div>
        </div>

    <br>
    <div class="row">
        <div class="col-sm-8">
            <h1>Computational Cell Biology</h1>
                <p>
                The Computational Cell Biology (CCB) resource formally brings 
                together two foundational software packages, Virtual Cell 
                (VCell) and COPASI. The CCB platform will maintain and enhance 
                these two widely used shared modeling resources with the 
                research community.  As the VCell and COPASI platforms were 
                developed over the last two decades, researchers have come to 
                recognize and appreciate the ability to explore quantitative 
                experimental data within the context of specific mechanistic 
                hypotheses and to use the predictive power of simulation for 
                experimental design. Today computational analysis is a driving 
                force in complex experiments while computational models are leading 
                to the development of experimental methods.
                </p>
                <p>
                Over the years, the VCell and COPASI development teams have been committed to educating our
                user communities on the value of mathematical modeling and how 
                utilizing modeling techniques in their research. In parallel, 
                the team has been actively broadening the scope its user 
                community to a wide variety of cell biologists, thereby expanding the field of 
                computational cell biology.  In addition to bringing the teams of 
                VCell and COPASI together to ensure their continued success, 
                the CCB resource is committed to and focused on the 
                dissemination, training and outreach of mathematical modeling 
                resources for the growing cell and systems biology research 
                communities. The resource will lend itself to promote sharing, 
                collaboration, and support for standards in computational 
                modeling.
                </p>

    <div class="row">
        <div class="card">
            <p>
                <a class="logos" href="http://copasi.org/" target="_blank"><img src="../../../assets/Copasi Small.png" alt="Copasi Logo">
                <br>
                COPASI software is for simulation and analysis of biochemical networks
                and their dynamics.</a>
            </p>
        </div>

        <div class="card">
            <a class="logos" href="https://vcell.org/ssalad" target="_blank"><img src="../../../assets/SpringSaLaD Small.png " alt="SpringSaLaD Logo">
            <br>
            SpringSaLaD is for explicitly modeling binding events and state changes among multivalent molecules using Langevin Dynamics.</a>
        </div>

        <div class="card">
            <p>
            <a class="logos" href="https://vcell.org/" target="_blank"><img src="../../../assets/VCellSmallBg.png" alt="VCell Logo">
            <br>
            VCell is a comprehensive platform for modeling cell biological systems using nonspatial (ODE or stochastic ) or spatial (PDE or stochastic) methods.</a>
                    
        </div>
     </div>
</div>

            <div class="col-sm-4">
                <h1>News</h1>
                    <div class="col border-box">
                        <p>
                            09-09-2021 Les Loew is co-author on a paper with collaborators from the Pollard 
                            lab at Yale, just published online in Biophysical Journal 
                            <a href="https://pubmed.ncbi.nlm.nih.gov/34509503/" target="_blank">(PMID 34509503)</a>. The work was started by Les some time ago to computationally explore molecular details of actin assembly and was recently revived by a graduate student in the Pollard lab.  
                        </p>
                        <hr class="line">
                        <p>
                            08-12-21 The COPASI team announces the immediate availability of
                            the stable release <a href="http://copasi.org/Download/" target="_blank"
                            >COPASI 4.34 (Build 251)</a>.
                        </p>
                        <hr class="line">
                        <p>
                            07-02-21 Michael Blinov and Ion Moraru are co-authors on a paper introducing RunBioSimulations, a single
                            web application for running a broad range of models. <a href="https://pubmed.ncbi.nlm.nih.gov/34019658/" target="_blank">(PMID 34019658)</a> 
                        </p>
                        <hr class="line">
                        <p>
                            05-13-21 Ann Cowan and Les Loew are authors on a paper from the Carlier lab
                            published in PLOS Computational Biology, Ten steps to investigate a cellular system with mathematical modeling.
                            <a href="https://pubmed.ncbi.nlm.nih.gov/33983922/" target="_blank">(PMID 33983922)</a>
                        </p>
                        <hr class="line">
                        <p>
                            <a routerLink="news">A Complete Listing of CCB News Items</a>
                        </p>
                    </div>
            </div>
    </div>          
<br>
<br>
            
</div>

