<div class="container">
    <div class="row">
        <div class="col" style="display: flex; align-items: left;">
            <a href="http://copasi.org/">
            <img src="../../../assets/Copasi White Text H150.png" alt="Copasi Logo" height="150px">
        </a>
        </div>
        <!--<div class="col" style="display: flex; align-items: center;">
            <p style="font-size: 4rem;">
                <strong>C</strong>omp<strong>C</strong>ell<strong>B</strong>io
            </p>
        </div>-->
        <div class="col" style="text-align: right;">
            <a href="https://vcell.org/">
            <img src="../../../assets/Vcell cube Text.png" alt="VCell Logo" height="150px">
        </a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <h1>Computational Cell Biology</h1>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p>
                            About: The CompCellBio program is funded as a NIGMS research resource for mathematical
                            modeling
                            in cell biology. We provide a gateway to resources for modeling including software, solvers,
                            databases, compute resources and training for cell biologists . This site specifically
                            supports
                            the following software
                        </p>

                    </div>
                </div>

                <br>
                <br>


                <div class="row">
                    <div class="col border-box">
                        <p>
                            <u><strong><a href="http://copasi.org/" tabindex="_blank">COPASI</a></strong></u> for simulation and analysis of biochemical networks
                            and
                            their
                            dynamics.
                        </p>

                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col border-box">
                        <p>
                            <u><strong><a href="https://vcell.org/" target="_blank">VCell</a></strong></u> a comprehensive platform for modeling cell biological
                            systems using nonspatial (ODE or
                            stochastic ) or spatial (PDE or stochastic) methods.
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col border-box">
                        <p>
                            <u><strong><a href="https://vcell.org/ssalad" target="_blank">SpringSaLaD</a></strong></u>  for explicitly modeling binding events and state
                            changes among multivalent
                            molecules using Langevin Dynamics.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>News</h2>
                    </div>
                </div>
                <div class="row" style="height: 450px">
                    <div class="col border-box">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>
    <br>
    <br>
</div>