<div class="container">

        <div class="logoCopasi"><a href="https://copasi.org/" target="_blank"><img src="../../../assets/Copasi White Text Light BG.png"></a></div>
        <div class="logoVCell">
            <a href="https://vcell.org/" target="_blank"><img src="../../../assets/VCell LogoThin.png"></a>
        </div>

        <div class="row">
            <div class="col-12">
                <h1 class="jobribbon">VCell is hiring Application Developers!
                <br> Please visit the <a class="rib" href="https://health.uconn.edu/cell-analysis-modeling/employment/" target="_blank">CCAM Employment Page</a> for more information.</h1>
                
            </div>
        </div>


    <div class="row">
        <div class="col-12">
            <div class="content">
                <div class="ribbon">
                <h1 class="rib">23rd Annual CCB Workshop <br>Online, May 23 - 25, 2022</h1>
                    <p>The CCB Workshops provides hands-on help to cell biologists and biophysicists as they develop models of their own systems using Virtual Cell, COPASI or SpringSaLaD software.</p>
                </div>
            <div class="ribbon">
                <table>
                    <caption>Meet Our Keynote Speakers</caption>
                    <tr>
                        <td><img src="../../../assets/AurelieCarlier.png"><br><a href="https://www.maastrichtuniversity.nl/a.carlier" target="_blank">Aur&eacute;lie Carlier, Maastricht University</a>
                        </td>
                        <td><img src="../../../assets/PadminiRangamani.png"><br><a href="https://bioengineering.ucsd.edu/content/padmini-rangamani" target="_blank">Padmini Rangamani, UC San Diego</a>
                        </td>
                        <td><img src="../../../assets/MelanieStefan.png"><br><a href="https://www.ed.ac.uk/discovery-brain-sciences/our-staff/research-groups/dr-melanie-i-stefan" target="_blank">Melanie Stefan, University of Edinburgh</a>
                        </td>
                    </tr>
                </table>
                <br>
                <p class="rib"><a class="rib" href="../../../assets/VCell ShortCourse Online 2022.pdf" target="_blank">Click here for more details about this free workshop and learn how to reagister.</a></p>
                <p class="rib">A separate in-person workshop is planned for July 25-27, 2022 in Farmington, CT, USA; watch for more details.</p>
            </div>
        </div>
            </div>
        </div>

    <br>
    <div class="row">
        <div class="col-sm-8">
            <h1>Computational Cell Biology</h1>
                <p>
                The Computational Cell Biology (CCB) resource formally brings 
                together two foundational software packages, <a href="https://copasi.org/" 
                target="_blank">COPASI</a> and <a href="https://vcell.org/" target="_blank">Virtual Cell</a> 
                (VCell). The CCB platform will maintain and enhance 
                these two widely used shared modeling resources with the 
                research community.  As the VCell and COPASI platforms were 
                developed over the last two decades, researchers have come to 
                recognize and appreciate the ability to explore quantitative 
                experimental data within the context of specific mechanistic 
                hypotheses and to use the predictive power of simulation for 
                experimental design. Today computational analysis is a driving 
                force in complex experiments while computational models are leading 
                to the development of experimental methods.
                </p>
                <p>
                Over the years, the VCell and COPASI development teams have been committed to educating our
                user communities on the value of mathematical modeling and how 
                utilizing modeling techniques in their research. In parallel, 
                the team has been actively broadening the scope its user 
                community to a wide variety of cell biologists, thereby expanding the field of 
                computational cell biology.  In addition to bringing the teams of 
                VCell and COPASI together to ensure their continued success, 
                the CCB resource is committed to and focused on the 
                dissemination, training and outreach of mathematical modeling 
                resources for the growing cell and systems biology research 
                communities. The resource will lend itself to promote sharing, 
                collaboration, and support for standards in computational 
                modeling.
                </p>

    <div class="row">
        <div class="card">
            <p>
                <a class="logos" href="http://copasi.org/" target="_blank"><img src="../../../assets/Copasi Small.png" alt="Copasi Logo">
                <br>
                COPASI software is for simulation and analysis of biochemical networks
                and their dynamics.</a>
            </p>
        </div>

        <div class="card">
            <a class="logos" href="https://vcell.org/ssalad" target="_blank"><img src="../../../assets/SpringSaLaD Small.png " alt="SpringSaLaD Logo">
            <br>
            SpringSaLaD is for explicitly modeling binding events and state changes among multivalent molecules using Langevin Dynamics.</a>
        </div>

        <div class="card">
            <p>
            <a class="logos" href="https://vcell.org/" target="_blank"><img src="../../../assets/VCellSmallBg.png" alt="VCell Logo">
            <br>
            VCell is a comprehensive platform for modeling cell biological systems using nonspatial (ODE or stochastic ) or spatial (PDE or stochastic) methods.</a>
                    
        </div>
     </div>
</div>

            <div class="col-sm-4">
                <h1>News</h1>
                    <div class="col border-box">
                        <p>
                            03-15-22. <b>COPASI 4.35 (Build 258) Released</b><br>
                            A new release of COPASI has been made available. Please visit the
                            <a href="http://copasi.org/Download/" target="_blank">download page</a> to retrieve this latest stable
                            release. This mainly bug fix release some issue in COPASI 4.34 (Build
                            251). More information can be found in the <a href="http://copasi.org/Support/Change_History/COPASI_4_35_Build_258/" target="_blank">changelog.</a>
                            .
                        </p>
                        <p>
                            02-18-22. <b>Congratulations to Boris Slepchenko</b> on his latest publication 
                            with CCAM alumnus Masoud Nickaeen, <a href="https://www.molbiolcell.org/doi/full/10.1091/mbc.E21-07-0362" target="_blank">
                            A model of actin-driven endocytosis explains differences of endocytic 
                            motility in budding and fission yeast.</a>
                            In this article they showed that a molecularly explicit model of forces 
                            exerted by actin filaments on endocytic invaginations explains the 
                            differences in endocytic invaginations between budding and fission yeast.
                        </p>
                        <hr class="line">
                        <p>
                            12-03-21 <b>Ann Cowan and Les Loew</b> are authors on another paper with the 
                            Carlier lab. This paper was published in The Biophysicist, <a href="https://meridian.allenpress.com/the-biophysicist/article/doi/10.35459/tbp.2021.000198/474420/Teaching-Mathematical-Modeling-of-Cellular-Systems">
                            Teaching Mathematical Modeling of Cellular Systems with the VCell MathModel</a>. Congratulations on this paper and their continued collaborative work.
                        </p>
                        <hr class="line">
                        <p>
                            09-09-2021 <b>Les Loew</b> is co-author on a paper with collaborators from the Pollard 
                            lab at Yale, just published online in Biophysical Journal 
                            <a href="https://pubmed.ncbi.nlm.nih.gov/34509503/" target="_blank">(PMID 34509503)</a>. The work was started by Les some time ago to computationally explore molecular details of actin assembly and was recently revived by a graduate student in the Pollard lab.  
                        </p>
                        <hr class="line">
                        <p>
                            <a routerLink="news">A Complete Listing of CCB News Items</a>
                        </p>
                    </div>
            </div>
    </div>          
<br>
<br>
            
</div>

