 <!-- <body>  Without this tag, makes the page more compact-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" routerLink="">Computational Cell Biology</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">About</a>
              <ul  class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="team">CCB Team</a></li>
                <li><a class="dropdown-item" routerLink="adboard">Advisory Board</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="news">News</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Events</a>
              <ul  class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="ccbworkshop">CCB Workshop</a></li>
                <li><a class="dropdown-item" routerLink="upcoming-workshops">Conferences/Workshops</a></li>
                <li><a class="dropdown-item" routerLink="previous-workshops">Previous CCB Workshops</a></li>
              </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLink="standards">Standards & Networks</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="educational-resources">Education</a></li>
              <li><a class="dropdown-item" routerLink="database-resources">Databases</a></li>
            <li><a class="dropdown-item" routerLink="software-resources">Software</a></li>
            </ul>
          <li class="nav-item">
            <a class="nav-link" routerLink="publications">Publications</a>
          </li>
        </ul>
      </div>
    </nav>


<!-- <app-team></app-team> -->
<router-outlet></router-outlet>




<br>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3 text-center">
        <a class="footer" href="https://reporter.nih.gov/search/oNbYJ1l_9EaPQtnr4QfkMg/project-details/10025462" target="_blank">
          National Resource for Mechanistic Modeling of Cellular Systems</a>
      </div>
      <div class="col-md-4 mt-md-0 mt-3 text-center">
          <a href="https://www.nigms.nih.gov/" target="_blank"><img class="footer" src="../assets/NIGMSLogoBGV2.png" class="img-fluid"></a>
      </div>
      <div class="col-md-4 mt-md-0 mt-3 text-center">
        Funding provided by: <a class="footer" href="https://www.nigms.nih.gov/Research/mechanisms/Pages/NIGMS-National-and-Regional-Resources-(R24).aspx" target="_blank">
          NIGMS National and Regional Resources (R24) Program</a>
      </div>
    </div>
  </div>
</footer>

