<!--Jared Parsons Cards-->
<div class="header">
  <h1>Database Resources</h1>
  <h2>General</h2>
</div>
<div class="row1-container">
  <div class="box springgreen">
    <a href="https://bionumbers.hms.harvard.edu/search.aspx" target="_blank"><img src="../../../assets/Bionumbers167x44.png" alt=""></a>

  </div>
  <div class="box dkblue">
    <a href="https://www.pathwaycommons.org/" target="_blank"><img src="../../../assets/PathwayCommons Logo167x44.png" alt=""></a>

  </div>
</div>

<div class="header">
  <h2>Universal IDs</h2>
</div>
<div class="row2-container">
  <div class="box yellow">
    <a href="https://www.doi.org/" target="_blank"><img src="../../../assets/DOI Logo167x44.png" alt=""></a>

  </div>
  <div class="box dkblue">
    <a href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank"><img src="../../../assets/PubMed Logo153x44.png" alt=""></a>

  </div>
  
</div>


<div class="header">
  <h2>Model Repositories</h2>
</div>
<div class="row2-container">
  <div class="box darkgreen">
    <a href="https://www.ebi.ac.uk/biomodels/" target="_blank"><img src="../../../assets/BioModels Logo167x44.png" alt=""></a>

  </div>
  <div class="box red">
    <a href="https://models.cellml.org/cellml" target="_blank"><img src="../../../assets/CellML Logo85x44.png" alt=""></a>
  
  </div>
  
</div>

<div class="row2-container">
  <div class="box offwhite">
    <a href="https://senselab.med.yale.edu/modeldb/" target="_blank"><img src="../../../assets/ModelDB Logo167x44.png" alt=""></a>

  </div>
  <div class="box paleblue box-down">
    <a href="https://senselab.med.yale.edu/neurondb/" target="_blank"><img src="../../../assets/NeuronDB Logo167x44.png" alt=""></a>

  </div>
  <div class="box skyblue">
    <a href="https://reactome.org/" target="_blank"><img src="../../../assets/Reactome Logo167x44.png" alt=""></a>

  </div>

</div>

<div class="header">
  <h2>Species/Molecules/Observables</h2>
</div>
<div class="row2-container">
  <div class="box bryellow">
    <a href="https://www.ebi.ac.uk/chebi/" target="_blank"><img src="../../../assets/ChEBI251x48.png" alt=""></a>

  </div>
  <div class="box blue box-down">
    <a href="https://iubmb.qmul.ac.uk/enzyme/" target="_blank"><img src="../../../assets/Enzyme Nomenclature167x44.png" alt=""></a>
  
  </div>
  <div class="box blue">
    <a href="http://geneontology.org/" target="_blank"><img src="../../../assets/GeneOntology167x44.png" alt=""></a>
  
  </div>
  
</div>

<div class="row2-container">
  <div class="box magenta">
    <a href="https://www.genome.jp/kegg/compound/" target="_blank"><img src="../../../assets/KEGGCompoundDB167x44.png" alt=""></a>
  
  </div>
  <div class="box skyblue box-down">
    <a href="https://reactome.org/" target="_blank"><img src="../../../assets/Reactome Logo167x44.png" alt=""></a>

  </div>
  <div class="box skyblue">
    <a href="https://www.uniprot.org/" target="_blank"><img src="../../../assets/UniProt167x44.png" alt=""></a>

  </div>
</div>

<div class="header">
  <h2>Reactions</h2>
</div>
<div class="row2-container">
  <div class="box bryellow">
    <a href="https://www.bindingdb.org/bind/index.jsp" target="_blank"><img src="../../../assets/BindingDB167x44.png" alt=""></a>

  </div>
  <div class="box dkblue box-down">
    <a href="https://www.brenda-enzymes.org/" target="_blank"><img src="../../../assets/Brenda Logo167x44.png" alt=""></a>
  
  </div>
  <div class="box magenta box-down">
    <a href="https://www.genome.jp/kegg/pathway.html" target="_blank"><img src="../../../assets/KEGGPathwayDB167x44.png" alt=""></a>
  
  </div>
  <div class="box magenta">
    <a href="https://www.genome.jp/kegg/reaction/" target="_blank"><img src="../../../assets/KEGGReactionDB167x44.png" alt=""></a>
  
  </div>
  
</div>
