<div class="container">
  <div class="row">
    <div class="col" style="display: flex; align-items: left;">

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-9">
      <div class="container">
        <div class="row">
          <div class="col" style="text-align: center;">
            <h1>Database Resources</h1>
          </div>
        </div>
        <br>
        <table style="width: 100%;">
          <tr>
            <th colspan="3">General</th>
          </tr>
          <tr>
            <td>Bionumbers</td>
            <td><a href="https://bionumbers.hms.harvard.edu/search.aspx" target="_blank">bionumbers.hms.harvard.edu/search.aspx</a></td>
            <td><img src="../../../assets/Bionumbers logo350x44.png"></td>
          </tr>
          <tr>
            <td>Pathway Commons</td>
            <td><a href="https://www.pathwaycommons.org/" target="_blank">pathwaycommons.org/</a></td>
            <td><img src="../../../assets/PathwayCommons Logo229x44.png"></td>
          </tr>
          <tr>
            <th colspan="3">Universal IDs</th>
          </tr>
          <tr>
            <td>PubMed ID</td>
            <td><a href="https://www.ncbi.nlm.nih.gov/pubmed" target="_blank">pubmed.ncbi.nlm.nih.gov/</a></td>
            <td><img src="../../../assets/PubMed Logo153x44.png"> </td>
          </tr>
          <tr>
            <td>DOI</td>
            <td><a href="https://www.doi.org/" target="_blank">doi.org</a></td>
            <td><img src="../../../assets/DOI Logo199x44.png"> </td>
          </tr>
          <tr>
            <th colspan="3">Model Repositories</th>
          </tr>
          <tr>
            <td>BioModels</td>
            <td><a href="https://www.ebi.ac.uk/biomodels/" target="_blank">ebi.ac.uk/biomodels/</a></td>
            <td><img src="../../../assets/BioModels Logo179x44.png"> </td>
          </tr>
          <tr>
            <td>Reactome</td>
            <td><a href="https://reactome.org/" target="_blank">reactome.org/</a></td>
            <td><img src="../../../assets/Reactome Logo192x44.png"> </td>
          </tr>
          <tr>
            <td>NeuronDB</td>
            <td><a href="https://senselab.med.yale.edu/neurondb/" target="_blank">senselab.med.yale.edu/neurondb/</a></td>
            <td><img src="../../../assets/NeuronDB Logo311x44.png"> </td>
          </tr>
          <tr>
            <td>ModelDB</td>
            <td><a href="https://senselab.med.yale.edu/modeldb/" target="_blank">senselab.med.yale.edu/modeldb/</a></td>
            <td><img src="../../../assets/ModelDB Logo312x44.png"> </td>
          </tr>
          <tr>
            <td>CellML Model Repository</td>
            <td><a href="https://models.cellml.org/cellml" target="_blank">models.cellml.org/cellml</a></td>
            <td><img src="../../../assets/CellML Logo85x44.png"> </td>
          </tr>
          <tr>
            <th colspan="3">Species/Molecules/Observables</th>
          </tr>
          <tr>
            <td>ChEBI</td>
            <td><a href="https://www.ebi.ac.uk/chebi/" target="_blank">ebi.ac.uk/chebi/</a></td>
            <td><img src="../../../assets/ChEBI Logo145x44.png"> </td>
          </tr>
          <tr>
            <td>KEGG COMPOUND</td>
            <td><a href="https://www.genome.jp/kegg/compound/" target="_blank">genome.jp/kegg/compound/</a></td>
            <td><img src="../../../assets/KEGG Logosmall.png"> </td>
          </tr>
          <tr>
            <td>UniProt</td>
            <td><a href="https://www.uniprot.org/" target="_blank">uniprot.org/</a></td>
            <td><img src="../../../assets/UniProt Logo87x44.png"> </td>
          </tr>
          <tr>
            <td>Enzyme Nomenclature</td>
            <td><a href="https://www.qmul.ac.uk/sbcs/iubmb/enzyme/" target="_blank">qmul.ac.uk/sbcs/iubmb/enzyme/</a></td>
            <td><img src="../../../assets/Enzyme Nomenclature.PNG"> </td>
          </tr>
          <tr>
            <td>Gene Ontology</td>
            <td><a href="http://www.geneontology.org/" target="_blank">geneontology.org/</a></td>
            <td><img src="../../../assets/GeneOntology Logo138x44.png"> </td>
          </tr>
          <tr>
            <td>Reactome</td>
            <td><a href="https://reactome.org/" target="_blank">reactome.org/</a></td>
            <td><img src="../../../assets/Reactome Logo192x44.png"> </td>
          </tr>
          <tr>
            <th colspan="3">Reactions</th>
          </tr>
          <tr>
            <tr>
              <td>KEGG REACTION</td>
              <td><a href="https://www.genome.jp/kegg/reaction/" target="_blank">genome.jp/kegg/reaction/</a></td>
              <td><img src="../../../assets/KEGG Logosmall.png"> </td>
            </tr>
            <tr>
              <td>KEGG PATHWAY</td>
              <td><a href="https://www.genome.jp/kegg/pathway.html" target="_blank">genome.jp/kegg/pathway.html</a></td>
              <td><img src="../../../assets/KEGG Logosmall.png"> </td>
            </tr>
            <tr>
              <td>BRENDA</td>
              <td><a href="https://www.brenda-enzymes.org/" target="_blank">brenda-enzymes.org/</a></td>
              <td><img src="../../../assets/Brenda Logo199x44.png"> </td>
            </tr>
            <tr>
              <td>Binding DB</td>
              <td><a href="https://www.bindingdb.org/bind/index.jsp" target="_blank">bindingdb.org/bind/index.jsp</a></td>
              <td><img src="../../../assets/BindingDB Logo small.png"> </td>
            </tr>
            <tr>
              <th colspan="3"></th>
            </tr>

            
        </table>

        








      </div>
    </div>
  </div>