<div class="container">
  <div class="row">
    <div class="col" style="display: flex; align-items: left;">

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-9">
      <div class="container">
        <div class="row">
          <div class="col" style="text-align: center;">
            <h1>Database Resources</h1>
          </div>
        </div>
        <br>
        <table style="width: 100%;">
          <tr>
            <th colspan="2">General</th>
          </tr>
          <tr>
            <td><a href="https://bionumbers.hms.harvard.edu/search.aspx" target="_blank">Bionumbers</a></td>
            <td><img src="../../../assets/Bionumbers logo350x44.png"></td>
          </tr>
          <tr>
            <td><a href="https://www.pathwaycommons.org/" target="_blank">Pathway Commons</a></td>
            <td><img src="../../../assets/PathwayCommons Logo229x44.png"></td>
          </tr>
          <tr>
            <th colspan="3">Universal IDs</th>
          </tr>
          <tr>
            <td><a href="https://www.ncbi.nlm.nih.gov/pubmed" target="_blank">PubMed ID</a></td>
            <td><img src="../../../assets/PubMed Logo153x44.png"> </td>
          </tr>
          <tr>
            <td><a href="https://www.doi.org/" target="_blank">DOI</a></td>
            <td><img src="../../../assets/DOI Logo199x44.png"> </td>
          </tr>
          <tr>
            <th colspan="2">Model Repositories</th>
          </tr>
          <tr>
            <td><a href="https://www.ebi.ac.uk/biomodels/" target="_blank">BioModels</a></td>
            <td><img src="../../../assets/BioModels Logo179x44.png"> </td>
          </tr>
          <tr>
            <td><a href="https://reactome.org/" target="_blank">Reactome</a></td>
            <td><img src="../../../assets/Reactome Logo192x44.png"> </td>
          </tr>
          <tr>
            <td><a href="https://senselab.med.yale.edu/neurondb/" target="_blank">NeuronDB</a></td>
            <td><img src="../../../assets/NeuronDB Logo311x44.png"> </td>
          </tr>
          <tr>
            <td><a href="https://senselab.med.yale.edu/modeldb/" target="_blank">ModelDB</a></td>
            <td><img src="../../../assets/ModelDB Logo312x44.png"> </td>
          </tr>
          <tr>
            <td><a href="https://models.cellml.org/cellml" target="_blank">CellML Model Repository</a></td>
            <td><img src="../../../assets/CellML Logo85x44.png"> </td>
          </tr>
          <tr>
            <th colspan="2">Species/Molecules/Observables</th>
          </tr>
          <tr>
            <td><a href="https://www.ebi.ac.uk/chebi/" target="_blank">ChEBI</a></td>
            <td><img src="../../../assets/ChEBI Logo145x44.png"> </td>
          </tr>
          <tr>
            <td><a href="https://www.genome.jp/kegg/compound/" target="_blank">KEGG COMPOUND</a></td>
            <td><img src="../../../assets/KEGG Logosmall.png"> </td>
          </tr>
          <tr>
            <td><a href="https://www.uniprot.org/" target="_blank">UniProt</a></td>
            <td><img src="../../../assets/UniProt Logo87x44.png"> </td>
          </tr>
          <tr>
            <td><a href="https://www.qmul.ac.uk/sbcs/iubmb/enzyme/" target="_blank">Enzyme Nomenclature</a></td>
            <td><img src="../../../assets/Enzyme Nomenclature.PNG"> </td>
          </tr>
          <tr>
            <td><a href="http://www.geneontology.org/" target="_blank">Gene Ontology</a></td>
            <td><img src="../../../assets/GeneOntology Logo138x44.png"> </td>
          </tr>
          <tr>
            <td><a href="https://reactome.org/" target="_blank">Reactome</a></td>
            <td><img src="../../../assets/Reactome Logo192x44.png"> </td>
          </tr>
          <tr>
            <th colspan="2">Reactions</th>
          </tr>
          <tr>
            <tr>
              <td><a href="https://www.genome.jp/kegg/reaction/" target="_blank">KEGG REACTION</a></td>
              <td><img src="../../../assets/KEGG Logosmall.png"> </td>
            </tr>
            <tr>
              <td><a href="https://www.genome.jp/kegg/pathway.html" target="_blank">KEGG PATHWAY</a></td>
              <td><img src="../../../assets/KEGG Logosmall.png"> </td>
            </tr>
            <tr>
              <td><a href="https://www.brenda-enzymes.org/" target="_blank">BRENDA</a></td>
              <td><img src="../../../assets/Brenda Logo199x44.png"> </td>
            </tr>
            <tr>
              <td><a href="https://www.bindingdb.org/bind/index.jsp" target="_blank">Binding DB</a></td>
              <td><img src="../../../assets/BindingDB Logo small.png"> </td>
            </tr>
            <tr>
              <th colspan="2"></th>
            </tr>            
        </table>

        








      </div>
    </div>
  </div>