.header {
  text-align: center;
  padding-top: 30px; 
}

h1{
  font-family: sans-serif;
  color: #263845;
  text-align: center; 
}

@media (max-width: 640px) {
  h1 {
      font-size: 1.5rem;
  }
}


.categoryGeneral{
  text-align: center;
  line-height: 0.8;
  margin-top: 10px;
}

.categoryModel {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 5px;
  margin-top: 90px;
}

.categoryPathway {
  text-align: center;
  line-height: 0.8;
  margin-top: 90px;
}

.categorySpecies {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 10px;
  margin-top: 90px;
}

.categoryReactions {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 10px;
  margin-top: 90px;
}

.categoryUniversal{
  text-align: center;
  line-height: 0.8;
  margin-bottom: 10px;
  margin-top: 50px;
}

.box {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
  padding: 20px;
  margin: 20px; 
}

.box:hover {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
  color:#ffffff;
}


/* Alignment when resized don't need with img settings below.
{
img {
  float: center;
}
}*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*@media (max-width: 450px) {
  .box {
      height: 100px;
  }
}*/

@media (max-width: 950px) and (min-width: 270px) {
  .box {
      text-align: center;
      height: 100px;
  }
}

.blue {
  border-top: 3px solid #2f7acd;
}
.dkblue {
  border-top: 3px solid #172c40;
}
.skyblue {
  border-top: 3px solid #2f9ec2;
}
.seablue{
  border-top: 3px solid #007dd7;
}
.paleblue {
  border-top: 3px solid #daebfb;
}
.black {
  border-top: 3px solid black;
}
.red {
  border-top: 3px solid #cc0000;
}
.magenta {
  border-top: 3px solid #a70158;
}
.ltblue {
  border-top: 3px solid #45acdf;
}
.orange {
  border-top: 3px solid #f3854a;
}
.teal{
border-top: 3px solid #1D636A;
}
.ltgreen{
border-top: 3px solid #629492;
}
.purple{
  border-top: 3px solid #6a3db5;
}
.dkpurple{
  border-top: 3px solid #461c54;
}
.green{
  border-top: 3px solid #6dab49;
}
.springgreen{
  border-top: 3px solid #68BF00;
}
.yellow{
  border-top: 3px solid #fcb426;
}
.bryellow{
  border-top: 3px solid #e2df2d;
}
.darkgreen{
  border-top: 3px solid #306764;
}
.offwhite{
  border-top: 3px solid #f5f5d0;
}


@media (min-width: 950px) {
  .row1-container { /*General*/
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -20px;
  }
  
  .row2-container { /*Model*/
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -20px;
  }

  .row3-container { /*Pathway*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

  .box-down {
      position: relative;
      top: 40px;
  }
  .box {
      width: 20%;
   
  }
  
}

@media (max-width: 950px) and (min-width: 270px) {
.categoryGeneral{
  text-align: center;
  line-height: 0.8;
  margin-top: -20px;  
  margin-bottom: -20px;
}

.categoryModel {
  text-align: center;
  line-height: 0.8;
  margin-top: 50px;
  margin-bottom: -20px;
}
.categoryPathway {
  text-align: center;
  line-height: 0.8;
  margin-top: 50px;
  margin-bottom: -20px;
}
.categorySpecies {
  text-align: center;
  line-height: 0.8;
  margin-bottom: -20px;
  margin-top: 50px;
}

.categoryReactions {
  text-align: center;
  line-height: 0.8;
  margin-bottom: -20px;
  margin-top: 50px;
}
.categoryUniversal {
  text-align: center;
  line-height: 0.8;
  margin-bottom: -20px;
  margin-top: 50px;
}

}
