
  /*Responsive 4Card Feature - Jared Parsons*/


/*body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray)
}*/

/*h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}*/

@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 20px;
  margin-top: 75px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: #2f7acd;
}

.box p {
  color: #2f7acd;
  align-content: center;
}

.box {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
  padding: 20px;
  margin: 20px; 
}

/* Alignment when resized don't need with img settings below.
{
img {
  float: center;
}
}*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 450px) {
  .box {
      height: 100px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 100px;
  }
}

.blue {
  border-top: 3px solid #2f7acd;
}
.dkblue {
  border-top: 3px solid #172c40;
}
.skyblue {
  border-top: 3px solid #2f9ec2;
}
.paleblue {
  border-top: 3px solid #daebfb;
}
.red {
  border-top: 3px solid #cc0000;
}
.magenta {
  border-top: 3px solid #a70158;
}
.ltblue {
  border-top: 3px solid #45acdf;
}
.orange {
  border-top: 3px solid #f3854a;
}
.teal{
border-top: 3px solid #1D636A;
}
.ltgreen{
border-top: 3px solid #629492;
}
.purple{
  border-top: 3px solid #6a3db5;
}
.green{
  border-top: 3px solid #6dab49;
}
.springgreen{
  border-top: 3px solid #68BF00;
}
.yellow{
  border-top: 3px solid #fcb426;
}
.bryellow{
  border-top: 3px solid #e2df2d;
}
.darkgreen{
  border-top: 3px solid #306764;
}
.offwhite{
  border-top: 3px solid #f5f5d0;
}

h2 {
  color: #31708e;
  font-weight: 400;
  font-size: 1.875em;
}


@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .row3-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .box-down {
      position: relative;
      top: 40px;
  }
  .box {
      width: 20%;
   
  }
  .header p {
      width: 30%;
  }
  
}