<!--Eric Mahoney Gradient Cards-->
                
<div class="main-container">
  <div class="heading">
    <h1>Publications by the Computational Cell Biology Team </h1>
  </div>
  <div class="cards">

    <a href="https://pubmed.ncbi.nlm.nih.gov/34019658/" target="_blank" class="card card-skyblue card_image card_link">
        <img src="../../../assets/RunBioSimulations.PNG"/>
        <div class="card_body">
        <p>Shaikh B, Marupilla G, Wilson M, Blinov ML, Moraru II, Karr JR. <b>RunBioSimulations: an extensible web application that simulates a wide range of computational modeling frameworks, algorithms, and formats.</b> Nucleic Acids Res. 2021 May 21; PMID: 34019658.</p>
        </div>
    </a>

    <a href="https://europepmc.org/article/pmc/pmc8118325" target="_blank" class="card card-blue1 card_image card_link">
        <img src="../../../assets/TenStepsModeling.png"/>
        <div class="card_body">
        <p>King J, Eroumé KS, Truckenmüller R, Giselbrecht S, Cowan AE, Loew L, Carlier A. <b>Ten steps to investigate a cellular system with mathematical modeling.</b> PLoS Comput Biol. 2021 May;17(5):e1008921. PMCID: PMC8118325.</p>
        </div>
      </a>

     <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7156294/" target="_blank" class="card card-yellow card_image card_link">
         <img src="../../../assets/Two MYB proteins.png"/>
         <div class="card_body">
             <p>Ding B, Patterson EL, Holalu SV, Li J, Johnson GA, Stanley LE, Greenlee AB, Peng F, Bradshaw HD Jr, Blinov ML, Blackman BK, Yuan YW. <b>Two MYB Proteins in a Self-Organizing Activator-Inhibitor System Produce Spotted Pigmentation Patterns.</b> Curr Biol. 2020 Mar 9;30(5):802-814.e8. PMCID: PMC7156294.</p>
         </div>
     </a> 

    <a href="https://pubmed.ncbi.nlm.nih.gov/33753475/" target="_blank" class="card card-purple card_image card_link">
        <img src="../../../assets/MadDephosphorylation.png"/>
        <div class="card_body">
        <p>Sardi J, Bener MB, Simao T, Descoteaux AE, Slepchenko BM, Inaba M. <b>Mad dephosphorylation at the nuclear pore is essential for asymmetric stem cell division.</b> Proc Natl Acad Sci U S A. 2021 Mar 30;118(13). PMID: 33753475.
        </div>
    </a>

    <a href="https://pubmed.ncbi.nlm.nih.gov/33758926/" target="_blank" class="card card-springgreen card_image card_link">
        <img src="../../../assets/SBGN Bricks.png"/>
        <div class="card_body">
        <p>Rougny A, Touré V, Albanese J, Waltemath D, Shirshov D, Sorokin A, Bader GD, Blinov ML, Mazein A. <b>SBGN Bricks Ontology as a tool to describe recurring concepts in molecular networks.</b> Brief Bioinform. 2021 Mar 24; PMID: 33758926.
    </div>
    </a>

    <a href="https://pubmed.ncbi.nlm.nih.gov/33237849/" target="_blank" class="card card-orange card_image card_link">
        <img src="../../../assets/QuantifyingSpaceStochasticity.png"/>
        <div class="card_body">
        <p>Johnson ME, Chen A, Faeder JR, Henning P, Moraru II, Meier-Schellersheim M, Murphy RF, Prüstel T, Theriot JA, Uhrmacher AM. <b>Quantifying the roles of space and stochasticity in computer simulations for cell biology and cellular biochemistry.</b> Mol Biol Cell. 2021 Jan 15;32(2):186–210. PMID: 33237849.</p>
    </div>
    </a>

    <a href="https://pubmed.ncbi.nlm.nih.gov/32845085/" target="_blank" class="card card-blue2 card_image card_link">
        <img src="../../../assets/SBML Level 3.png"/>
        <div class="card_body">
        <p>Keating SM et al., SBML Level 3 Community members. <b>SBML Level 3: an extensible format for the exchange and reuse of biological models.</b> Mol Syst Biol. 2020 Aug;16(8):e9110. PMID: 32845085.</p>
        </div>
    </a>

    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7756619/" target="_blank" class="card card-skyblue card_image card_link">
        <img src="../../../assets/SBML Level 3 Package.png"/>
        <div class="card_body">
        <p>Zhang F, et al., <b>Systems biology markup language (SBML) level 3 package: multistate, multicomponent and multicompartment species, version 1, release 2.</b> J Integr Bioinform. 2020 Jul 6;17(2–3). PMCID: PMC7756619</p>
        </div>
    </a>

    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7756615/" target="_blank" class="card card-teal card_image card_link">
        <img src="../../../assets/COMBINE.png"/>
        <div class="card_body">
        <p>Waltemath D, et al., <b>The first 10 years of the international coordination network for standards in systems and synthetic biology (COMBINE).</b> J Integr Bioinform. 2020 Jun 29;17(2–3). PMCID: PMC7756615.</p>
        </div>
    </a>

    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6783478/" target="_blank" class="card card-grey card_image card_link">
        <img src="../../../assets/ModelBricks.png"/>
        <div class="card_body">
        <p>Cowan AE, Mendes P, Blinov ML. <b>ModelBricks-modules for reproducible modeling improving model annotation and provenance.</b> NPJ Syst Biol Appl. 2019 Oct 8;5:37. PMCID: PMC6783478.</p>
        </div>
    </a>

    <a href="https://europepmc.org/article/PMC/6798823" target="_blank" class="card card-navbargreen card_image card_link">
        <img src="../../../assets/SBML Level 3 Language.png"/>
        <div class="card_body">
        <p>Hucka M, et al., <b>The Systems Biology Markup Language (SBML): Language Specification for Level 3 Version 2 Core Release 2.</b> J Integr Bioinform. 2019 Jun 20;16(2). PMCID: PMC6798823.</p>
        </div>
    </a>

    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6798820/" target="_blank" class="card card-rose card_image card_link">
        <img src="../../../assets/SystemsBioGraphicalNotation.png"/>
        <div class="card_body">
        <p>Rougny A, Touré V, Moodie S, Balaur I, Czauderna T, Borlinghaus H, Dogrusoz U, Mazein A, Dräger A, Blinov ML, Villéger A, Haw R, Demir E, Mi H, Sorokin A, Schreiber F, Luna A. <b>Systems Biology Graphical Notation: Process Description language Level 1 Version 2.0.</b> J Integr Bioinform. 2019 Jun 13;16(2). PMCID: PMC6798820.</p>
        </div>
    </a>

    <a href="https://europepmc.org/article/pmc/6727779" target="_blank" class="card card-dkblue card_image card_link">
        <img src="../../../assets/ActinAssembly.png"/>
        <div class="card_body">
        <p>Nickaeen M, Berro J, Pollard TD, Slepchenko BM. <b>Actin assembly produces sufficient forces for endocytosis in yeast. Mol Biol Cell.</b> 2019 22;30(16):2014–2024. PMCID: PMC6727779.</p>
        </div>
    </a>

    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6369576/" target="_blank" class="card card-pink card_image card_link">
        <img src="../../../assets/InterplayStructuralCellularBiophysics.png"/>
        <div class="card_body">
        <p>Chattaraj A, Youngstrom M, Loew LM. <b>The Interplay of Structural and Cellular Biophysics Controls Clustering of Multivalent Molecules.</b> Biophys J. 2019 05;116(3):560–572. PMCID: PMC6369576.</p>
        </div>
    </a>


  </div>
</div>





