<div class="container">
    <div class="row">
         <div class="col" style="display: flex; align-items: center;">
            <div class="col" style="text-align: center;">

                <br>
                <div class="row">
                  <div class="col-9">
                    <div class="container">
                      <div class="row">
                        <div class="col" style="text-align: center;">  
            <h1>Publications</h1>
            <h2>Publications Coming Soon</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
