h1 {
    font-family: sans-serif;
    color: #426078;
    text-align: center;
  }
  
  h2 {
    font-family: sans-serif;
    color: #426078;
    text-align: center;
  }

  h3.funding{
    padding-top: 20px;
    display: flex;
  }

 #nih{
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 /* .div-onsitepic{
    max-width: 80%;
    max-height: auto;
    //display: inline-block;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 50px;
  }*/
  
  .div-onsitetext{
    margin-top: 60px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 1px;
    }

    .div-onsitetext2{
      margin-top: 20px;
      padding-right: 10px;
      padding-top: 0px;
      padding-bottom: 20px;
      }
      
    #content1::after{
          content: "\a";
          white-space: pre;
    }

    .div-workshop_onsite{
      //footer
      //background-color: #6dbac4; onsite
      background-color: #78759c; //online
      margin-top: 20px;
      padding-left: 20px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 1px;
      color: white;
    
    }

    /*@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

    #section-divider {
      max-height: 200px;
    }
    
    section {
      padding: 40px;
      height: 200px;
      display: flex;
      align-items: center;
      color: white;
      font-size: 26px;
      
      &.first {
        background: #6dbac4;
        justify-content: flex-end;
      }
      
      &.second {
        background: #78759C;
        justify-content: flex-start;
      }
    }
    
*/
//online workshop footer
  /*.div-workshop{
    background-color: #78759C;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    color: white;
  
  }
 
  .div-intro{
    background-color: #EBEFD9;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .div-text{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }  


  .div-header{
    padding-left: 20px;
    margin-top: 10px;
    padding-top: 10px;
  }
  */

  img {
    max-width: 100%;
    max-height: 100%;
}

.uchc{
    max-width: 50%;
    max-height: 50%;
    padding-bottom: 20px;
    margin-left: 20px;
}

//tabs
.tabs {
  position: relative;
  margin: 40px auto;
  width: 1024px;
  max-width: 100%;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 60px;
}

.tabs input {
  position: absolute;
  z-index: 1000;
  width: 25%;
  height: 50px;
  left: 0;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  margin: 0;
}

.tabs input#tab-2 {
  left: 25%;
}

.tabs input#tab-3 {
  left: 50%;
}

.tabs input#tab-4 {
  left: 75%;
}

.tabs label {
  background: #415F7A;
  color: #fefefe; //font color
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  position: relative;
  top: 0;
  padding: 0 20px;
  float: left;
  display: block;
  width: 25%;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

.tabs label:hover {
  cursor: pointer;
}

.tabs label:after {
  content: '';
  background: #A1D1FF;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
}

.tabs input:hover + label {
  background: #BA9963;
}

.tabs label:first-of-type {
  z-index: 4;
}

.tab-label-2 {
  z-index: 4;
}

.tab-label-3 {
  z-index: 3;
}

.tab-label-4 {
  z-index: 2;
}

.tabs input:checked + label {
  background: #fefefe;
  color: #1a1a1a;
  z-index: 6;
}

.content {
  height: auto;
  width: 100%;
  float: left;
  position: relative;
  z-index: 5;
  background: #fefefe;
  //top: -10px;
  box-sizing: border-box;
}

.content div {
  position: relative;
  float: left;
  width: 0;
  height: 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background: #fefefe;
}

.content div h2 {
  margin-top: 0;
}

.tabs .tab-selector-1:checked ~ .content .content-1,
.tabs .tab-selector-2:checked ~ .content .content-2,
.tabs .tab-selector-3:checked ~ .content .content-3,
.tabs .tab-selector-4:checked ~ .content .content-4 {
  z-index: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
  padding: 4%;
}

/*.content div h2 {
  color: #4477CC;
}*/

.content div p {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin: 0;
  color: #777;
}