<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="../../../assets/VCell ShortCourse Header 2023.png">
            
            <div class="div-speakers">
                <div class="row">
                    <div class="col-md-4">
                        <div class="div-onsitepic">
                            <img src="../../../assets/Frontpiece landscape_sm50_transparent.png" id="onsitepic">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="div-onsitetext">
                            <h2>About</h2>
                        The 24th Annual Workshop on Computational Cell Biology will be sponsored by 
                        the Center for Cell Analysis and Modeling (CCAM) at the University of 
                        Connecticut School of Medicine on June 26 - 28, 2023. This is an intense in-
                        person, hands-on course designed to enable cell biologists and biophysicists 
                        to develop models of their experimental system using Virtual Cell, COPASI,
                        and SpringSaLaD software systems. As a NIH Biomedical Technology Resource, we 
                        are charged with supporting NIH-funded research through collaborative projects.
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="div-onsitetext2">
                                <h2>Course Description</h2>
                                The course will consist of 1/2 day of introducotry lectures presented by
                                the developers of the software platforms. The remaining 2.5 days will
                                consist of interactive, hands-on sessions using the software for developing
                                models and performing simulations. The course will be limited to about 12
                                people to allow for extensive one-on-one teaching sessions and to promote
                                in-depth scientific discussions among the participants and instructors. 
                                Course instructors will include Michael Blinov, Ann Cowan, Stefan Hoops, Leslie
                                Loew, Pedro Mendes, Ion Moraru, Jim Schaff, and Boris Slepchenko.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="div-onsitepic">
                                <img src="../../../assets/VCscreenshot4.png">
                            </div>   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="div-onsitepic">
                                <img src="../../../assets/COPASI-ParameterEstimation.png">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="div-onsitetext2">
                                <h2>How to Apply for the Course</h2>
                                To apply for the course you are asked to submit a 1-2 page proposal 
                                outlining your project and including the title and period of your 
                                NIH grant. This will allow us to determine if the current 
                                implementations of the Virtual Cell and COPASI are applicable to 
                                your project. Please email your short proposal to Dr. Leslie Loew: <a href="mailto:les@uchc.edu">les@uchc.edu</a> 
                                by May 17, 2023. There is no registration fee for 
                                this course and CCAM will provide all meals however, you will be 
                                responsible for travel and hotel costs. Limited travel funds are 
                                available to promote diversity, and we especially encourage individuals
                                from minority-serving institutions to apply for funding. We hope 
                                you  will be able to join us and please pass the word along to your 
                                cell biology colleagues.   
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="div-onsitetext2">
                                <h2>Additional Information</h2>
                                For more information on the Virtual Cell, COPASI, and SpringSaLaD Software, and 
                                their capabilities please visit our web sites at <a href="https://vcell.org " target="_blank">https://vcell.org</a>,
                                <a href="https://copasi.org" target="_blank">https://copasi.org</a>, and <a href="https://vcell.org/ssalad"
                                target="_blank">https://vcell.org/ssalad</a>, which have extensive tutorials and example 
                                models. 
                            </div>
                            
                                <h3>Contact:</h3>
                               <span id="content1">Karen Zucker</span>   
                               <span id="content1">860-679-1452</span>
                                <a href="mailto:zucker@uchc.edu">zucker@uchc.edu</a>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="div-onsitepic">
                                <img src="../../../assets/SnipImage.JPG">
                            </div>
                        </div>
                    </div>
                    <div class="div-workshop_onsite">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="uchc">
                                <img  src="../../../assets/uconn-health-wordmark-stacked-white.png">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h3 class="funding">Funding provided by NIH Grant R24 GM137787.</h3>  
                            </div>
                            <div class="col-md-4">  
                                <img src="../../../assets/banner-nihlogo2013.png" id="nih">
                            </div>     
                    </div>
</div>

<!--https://codepen.io/adelkov -->
<svg
   id='section-divider'
   viewBox="0 0 1600 800" 
   width="100%" 
   preserveAspectRatio="none"
 >
  <path fill="#78759c" d="M800.4 881c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 88.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v874.9c52.3-17.6 106.5-27.7 961.1-30.9C468.4 537.4 375.7 554.2 478.4 581z"/>
  <path fill="#748ca9" d="M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z"/>
  <path fill="#7395ae" d="M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z"/>
  <path fill="#719eb4" d="M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z"/>
  <path fill="#6dbac4" d="M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z"/>
</svg>


    <!--Begin Online Workshop-->
    <!--<div class="row">
      <div class="col-md-12">-->
            <img src="../../../assets/2023 Online Header.png">
            <div class="div-intro">
                <b>The 24th Annual Workshop on Computational Cell Biology</b> will be sponsored by the <a href="
                https://health.uconn.edu/cell-analysis-modeling/microscopy-facility/" target="_blank">Center 
                for Cell Analysis and Modeling</a>, (CCAM) at the <a href="https://medicine.uconn.edu/" target="_blank">
                University of Connecticut School of Medicine</a> on February 13 – 15, 2023. It will be an intense online event designed to 
                enable cell biologists and biophysicists to develop models of their experimental 
                system using <a href="https://vcell.org/" target="_blank">Virtual Cell</a>, <a href="https://copasi.org/" target="_blank">COPASI</a>, 
                and <a href="https://vcell.org/ssalad" target="_blank">SpringSaLaD</a> software systems. The workshop will 
                include a combination of plenary sessions and breakout sessions for one-on-one model 
                building. For pre-selected participants, we will provide “hands-on” help developing 
                models in support of their individual research. Through the 3 days, there will be 
                opportunities for participants to describe their own modeling projects.
                <p>A separate in-person workshop is being planned for June 26 – 28, 2023, in 
                    Farmington, CT. More details regarding this event will follow.
                </p>
            </div>
        </div>
   
        <div class="row">
            <div class="col-md-12">
                <div class="div-text">
                    The workshop is free. However, to be admitted please email the following information 
                    to <a href="mailto:les@uchc.edu">les@uchc.edu</a> by January 13:
                    <ol type="1">
                    <li>Which of the software systems will be of immediate value in your 
                        research:</li>
                        <ol type="a">
                            <li><a href="https://copasi.org/" target="_blank">COPASI</a></li>
                            <li><a href="https://vcell.org/" target="_blank">Virtual Cell</a></li>
                            <li><a href="https://vcell.org/ssalad" target="_blank">SpringSaLaD</a></li>
                        </ol>
                    <li>Are you:</li>
                        <ol type="a">
                            <li>A novice at modeling who can benefit from general introductions to kinetic 
                        and reaction-diffusion systems?</li>
                            <li>An experienced modeler interested in advanced topics?</li>
                        </ol>
                    <li>Do you have a modeling project that you would like to work on with our help? 
                        If so, please send us a short (~ 1 page) description of your project explaining 
                        the research question you wish to address and how modeling can help.
                        This will allow us to determine if the current implementations of the Virtual Cell,
                        COPASI, or SpringSaLaD are applicable to your project.
                    </li>
                    <li>VCell and COPASI support many advanced modeling techniques. Please list any 
                        such approaches you may be interested in learning more about.
                    </li>
                    </ol>
                </div>
            </div>
        </div>

        
        <div class="div-speakers">
            <div class="row">
                <h1>Keynote Speakers</h1>
                <div class="col-md-4">
                    <img src="../../../assets/jmh2.jpg" class="keynote" >
                        <p><a href="https://www.cbe.ncsu.edu/person/jmhaugh/" target="_blank">Jason Haugh</a></p>
                        <p>North Carolina State University</p>
                </div>
                <div class="col-md-4">
                    <img src="../../../assets/Iglesias_Sayak-Combined Small.jpg" class="keynote">
                        <p><a href="https://engineering.jhu.edu/faculty/pablo-iglesias/" target="_blank">Pablo Iglesia</a>s</p>
                        <p>Johns Hopkins</p>
                </div>

                <div class="col-md-4">
                    <img src="../../../assets/20100310_Kummer_Small.jpg">
                        <p><a href="https://www.cos.uni-heidelberg.de/en/research-groups/modelling-of-biological-processes" target="_blank">Ursula Kummer</a></p>
                        <p>University of Heidelberg</p>
                </div>
            </div>
        </div>
    
 
        <div class="div-workshop">
            <div class="row">
                <div class="col-md-4">
                    <div class="uchc">
                    <img  src="../../../assets/uconn-health-wordmark-stacked-white.png">
                    </div>
                </div>
                <div class="col-md-8">
                    <p>Funding provided by NIH Grant R24 GM137787.</p>  
            </div>
        </div>
</div>





  



  

