<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="../../../assets/VCell Short Course2025 Online Header.png">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/Frontpiece landscape_sm50_transparent.png" id="onsitepic">
        </div>
        <div class="col-md-8">
            <div class="div-onsitetext">
                <h2>About</h2>
                            The 26th Annual Workshop on Computational Cell Biology will take place <b>online</b> on <b>February 24-28, 2025</b>. 
				It is designed to enable cell biologists and biophysicists to develop models of their experimental systems.  
				We will teach how to use VCell (<a href="https://vcell.org/" target="_blank">https://vcell.org/</a>), COPASI
                            (<a href="https://copasi.org/" target="_blank">https://copasi.org/</a> ) and 
				SpringSalad (<a href="https://vcell.org/ssalad" target="_blank">https://vcell.org/ssalad</a>) software to
                            develop spatial and non-spatial models using deterministic, stochastic,
                            agent- and rule-based approaches. Please check the websites for
                            extensive tutorials and examples of models. Organized by the Center for
                            Cell Analysis and Modeling (<a href="https://health.uconn.edu/cell-analysis-modeling/" target="_blank">CCAM</a>) 
				at the University of Connecticut School of Medicine (<a href="https://vcell.org/" target="_blank">UConn Health</a>).
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="div-onsitetext2">
                <h2>Course Description</h2>
                                The course includes introductions to VCell, COPASI, and SpringSaLaD, presented by their
                                developers and by modelers. The workshop will include a combination of plenary sessions, invited speakers, 
              and advanced tutorials convenient for audiences across the globe.  <b><font color = "red">Participants will have an opportunity to get 
              "hands-on" help developing models in support of their research. Throughout the 5 days, there will be one-on-one sessions 
              with experienced modelers designed to help with your projects. See the tentative schedule 
                <a href="https://compcellbio.org/assets/2025_CCB_online_schedule.pdf">HERE</a>.</font></b> 
            </div>
        </div>
        <div class="col-md-4">
            <div class="div-onsitepic">
                <img src="../../../assets/VCscreenshot4.png">
            </div>   
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="div-onsitepic">
                <img src="../../../assets/COPASI-ParameterEstimation.png">
            </div>
        </div>
        <div class="col-md-8">
            <div class="div-onsitetext2">
                <h2>How to Apply for the Course</h2>
                                To participate in these sessions, please email the following information to Dr. Michael Blinov <a href="mailto:blinov@uchc.edu">blinov@uchc.edu</a>, 
              by <b>January 15, 2025</b>: your name, institution, lab head (if you are a student), and 1-2 page proposal outlining your research project and modeling needs. 
              If you already know, please describe how VCell, COPASI, and/or SpringSaLaD may help your project. This information will allow us to determine if our
                                software is applicable to your project. As a NIH Biomedical Technology Resource, we are 
                                charged with supporting NIH-funded research through collaborative projects. 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="div-onsitetext2">
                <h2>Additional Information</h2>
                                Registration is free and will be available later.   
				Organized by the Center for Cell Analysis and Modeling (CCAM) at the University of Connecticut School of Medicine (UConn Health). 
				Instructors: Michael Blinov, Ann Cowan, Stefan Hoops, Leslie Loew, Pedro Mendes, Ion Moraru, Jim Schaff, and Boris Slepchenko. 
                                <br>
                                <br>
                                <h3>Contact:</h3>
                               <span id="content1">Michael Blinov</span>   
                                <a href="mailto:blinov@uchc.edu">blinov@uchc.edu</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="div-onsitepic">
                <img src="../../../assets/SnipImage.JPG">
            </div>
        </div>
    </div>
    <div class="div-workshop_onsite">
        <div class="row">
            <div class="col-sm">
                <div class="uchc">
                    <img  src="../../../assets/uconn-health-wordmark-stacked-white.png">
                </div>
            </div>
            <div class="col-sm">
                <h3 class="funding">Funding provided by NIH Grant R24 GM137787.</h3> 
            </div>
            <div class="col-sm">
                <div class="div-onsitepic">
                    <img src="../../../assets/banner-nihlogo2013.png" id="nih">
                </div>
            </div>     
        </div>    
    </div>
</div>
