<div class="container">
    <div class="row">
      <div class="col" style="display: flex; align-items: left;">
  
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-9">
        <div class="container">
          <div class="row">
            <div class="col" style="text-align: center;">
              <h1>Networks</h1>
            </div>
          </div>
          <br>
          <table style="width: 100%;">
            <tr>
              <td>Combine</td>
              <td><a href="http://co.mbine.org/standards/kisao" target="_blank">co.mbine.org/standards/kisao</a></td>
              <td><img src="../../../assets/Combine Logo250x44.png"></td>
            </tr>
            <tr>
              <td>SBML</td>
              <td><a href="http://sbml.org/Main_Page" target="_blank">sbml.org/Main_Page</a></td>
              <td><img src="../../../assets/SBML Logo100x44.png"></td>
            </tr>
            <tr>
              <td>Biosimulations</td>
              <td><a href="https://www.biosimulations.org/" target="_blank">biosimulations.org/</a></td>
              <td><img src="../../../assets/BioSimulations Logo165x44.png"></td>
            </tr>
            <tr>
              <td>EMBL-EBI</td>
              <td><a href="https://www.ebi.ac.uk/" target="_blank">ebi.ac.uk/</a></td>
              <td><img src="../../../assets/EMBL-EBI Logo126x44.png"></td>
            </tr>
          </table>