@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  /*color: #0275c7;*/
  color: #2E04BF;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

mat-nav-list.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

