<!--Andrew Sims Hover Cards-->
<!--Eric Mahoney Gradient Cards-->   
<div class="headercontainer">
<h1 class="header">Educational Resources for Learning about Computational Cell Biology Methods</h1>
</div>

<div class="container">
  <h1 class="subheader">Video Tutorials</h1>
  </div>
  <div class="container">
    <div class="row">
      <a class="card1" href="https://www.youtube.com/channel/UCYjhtLTvzBJD6AfvHBjQcEg" target="_blank">
        <h3>CompCell Biol YouTube</h3>
            <p >
              A listing of VCell and COPASI tutorials as well as lecture material from the Annual CCB Online Workshop.
            </p>
              <div class="go-corner" href="#">
                <div class="go-arrow">
                  →
                </div>
              </div>
      </a>
            
      <a class="card1" href="http://copasi.org/Support/" target="_blank">
        <h3>Copasi</h3>
          <p >
            A support page with tutorials, user manual, user forum, publications and other techinical documentation.</p>
              <div class="go-corner" href="#">
                <div class="go-arrow">
                  →
                </div>
              </div>
      </a>
                       
      <a class="card1" href="https://vcell.org/support" target="_blank">
        <h3>VCell Tutorials</h3>
          <p >
            A complete listing of video and pdf format VCell utorials, ranging from simple to complex models.
          </p>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
      </a>
    </div> 
    

  <table>
      <tr>
          <td><h1  class="bannerTitle">Webinar Series</h1></td>
          <td><a class="bannerLink" href="https://www.theoryoflivingsystems.org/" target="_blank">Theory of Living Systems - 
            Theory and computer at the frontier of modern life science</a></td>  
          </tr>
      <tr>
        <td><h1 class="bannerTitle">Online Courses</h1></td>
        <td>
          <a class="bannerLink" href="https://biologicalmodeling.org/" target="_blank">Biological Modeling - A free course
            in modeling biological systems at multiple scales.</a>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <a class="bannerLink" href="https://www.coursera.org/learn/dynamical-modeling" target="_blank" >Coursera - Dynamical Modeling Methods for Systems Biology</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a class="bannerLink" href="https://www.coursera.org/learn/systems-biology#about" target="_blank">Coursera - Introduction to Systems Biology</a>  
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a class="bannerLink" href="https://ocw.mit.edu/courses/biological-engineering/20-320-analysis-of-biomolecular-and-cellular-systems-fall-2012/modeling-of-cellular-systems/" target="_blank">MITOPENCOURSEWARE - Modeling of Cellular Systems</a>
        </td>
      </tr>
  </table>

  <h1 class="pubheading">Publication Resources</h1>
    
    <div class="cards_pub">

      <a href="https://europepmc.org/article/pmc/pmc8118325" target="_blank" class="card_pub card_pub-blue1 card_pub_link card_pub_image">
        <img src="../../../assets/TenStepsModeling.png"/>
            <div class="card_pub_body">
                <p>King J, Eroumé KS, Truckenmüller R, Giselbrecht S, Cowan AE, Loew L, Carlier A. <b>Ten steps to investigate a cellular system with mathematical modeling.</b> PLoS Comput Biol. 2021 May;17(5):e1008921. <a class="card_pub_link" href="https://europepmc.org/article/pmc/pmc8118325" target="_blank">PMCID: PMC8118325.</a></p>
            </div>
          </a>

        <a href="https://pubmed.ncbi.nlm.nih.gov/33237849/" target="_blank" class="card_pub card_pub-orange card_pub_image card_pub_link">
            <img src="../../../assets/QuantifyingSpaceStochasticity.png"/>
            <div class="card_pub_body">
            <p>Johnson ME, Chen A, Faeder JR, Henning P, Moraru II, Meier-Schellersheim M, Murphy RF, Prüstel T, Theriot JA, Uhrmacher AM. <b>Quantifying the roles of space and stochasticity in computer simulations for cell biology and cellular biochemistry.</b> Mol Biol Cell. 2021 Jan 15;32(2):186–210. PMID: 33237849.</p>
            </div>
        </a>

      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6297095/" target="_blank" class="card_pub card_pub-ltgrey card_pub_link card_pub_image">
            <img src="../../../assets/AllModelsAreWrong.png"/>
            <div class="card_pub_body">
              <p>Berro J. <b>Essentially, all models are wrong, but some are useful”—a cross-disciplinary agenda for building useful models in cell biology and biophysics.</b> 2018 Biophys. Rev.. 10 (6), 1637.  DOI: 10.1007/s12551-018-0478-4 Brief Bioinform. 2021 Jan 11; PMID: 33423059.
            </div>
      </a>

      <a href="https://pubmed.ncbi.nlm.nih.gov/33423059/" target="_blank" class="card_pub card_pub-skyblue card_pub_link card_pub_image">
        <img src="../../../assets/ToolsTimeCourseSimulations.png"/>
        <div class="card_pub_body">
          <p>Musilova J, Sedlar K. <b>Tools for time-course simulation in systems biology: a brief overview.</b> Brief Bioinform. 2021 Jan 11; PMID: 33423059.
        </div>
      </a>
    
        <a href="https://pubmed.ncbi.nlm.nih.gov/30287586/" class="card_pub card_pub-orange card_pub_image card_pub_link">
              <img src="../../../assets/Article Image.png"/>
              <div class="card_pub_body">
              <p>Tavassoly I, Goldfarb J, Iyengar R. <b>Systems biology primer: the basic methods and approaches.</b> Essays Biochem. 2018 Oct 26;62(4):487–500. PMID: 30287586.
              </div>
        </a>
      
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5623632/" class="card_pub card_pub-pink card_pub_image card_pub_link">
          <img src="../../../assets/CopasiApplicationsBiotechnology.png"/>
        <div class="card_pub_body">
            <p>Bergmann FT, Hoops S, Klahn B, Kummer U, Mendes P, Pahle J, Sahle S. <b>COPASI and its applications in biotechnology.</b> J Biotechnol. 2017 Nov 10;261:215–220.PMCID: PMC5623632.
        </div>
      </a>

        
      <a href="https://europepmc.org/article/pmc/pmc4744174" target="_blank" class="card_pub card_pub-green card_pub_image card_pub_link">
          <img src="../../../assets/SpringSaLaDSimulation.png"/>
          <div class="card_pub_body">
          <p>Michalski PJ, Loew LM. <b>SpringSaLaD: A Spatial, Particle-Based Biochemical Simulation Platform with Excluded Volume.</b> Biophys J. 2016 Feb 2;110(3):523–529. PMCID: PMC4744174.
          </div>
      </a>
  
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4255220/" target="_blank" class="card_pub card_pub-red card_pub_image card_pub_link">
          <img src="../../../assets/MechanisticBiophysicalInformation.png"/>
          <div class="card_pub_body">
          <p>Pollard TD. <b>The value of mechanistic biophysical information for systems-level understanding of complex biological processes such as cytokinesis.</b> Biophys J. 2014 Dec 2;107(11):2499–2507. PMCID: PMC4255220.
          </div>
      </a>

      <a href="https://europepmc.org/article/pmc/3623632" target="_blank" class="card_pub card_pub-black card_pub_image card_pub_link">
          <img src="../../../assets/InformativeKineticAssays.png"/>
          <div class="card_pub_body">
          <p>Pollard TD, De La Cruz EM. <b>Take advantage of time in your experiments: a guide to simple, informative kinetics assays.</b> Mol Biol Cell. 2013 Apr;24(8):1103–1110. PMCID: PMC3623632.
      </div>
       </a>
  
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3519356/" target="_blank" class="card_pub card_pub-gryellow card_pub_image card_pub_link">
          <img src="../../../assets/SpatialModelingSignaling.png"/>
          <div class="card_pub_body">
          <p>Cowan AE, Moraru II, Schaff JC, Slepchenko BM, Loew LM. <b>Spatial modeling of cell signaling networks. Methods Cell Biol.</b> 2012;110:195–221. PMCID: PMC3519356.
          </div>
      </a>
  
      <a href="https://pubmed.ncbi.nlm.nih.gov/19399433/" target="_blank" class="card_pub card_pub-grey card_pub_link">
        <div class="card_pub_image">
          <img src="../../../assets/ComputationalModelingCopasi.png"/>
          </div>
          <div class="card_pub_body">
            <p>Mendes P, Hoops S, Sahle S, Gauges R, Dada J, Kummer U. <b>Computational modeling of biochemical networks using COPASI.</b> Methods Mol Biol. 2009;500:17–59. PMID: 19399433.
          </div>
      </a>
    </div>

</div>

    
