 <div class="container">
   <div class="row">
        <div class="col" style="display: flex; align-items: left;">

                    </div>
            </div>
    <br>

    <div class="row">
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Educational Resources</h1>             
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p>
                            Some kind of introduction paragraph.
                        </p>

                    </div>
                </div>

                <br>
                <br>


                <div class="row">
                    <div class="col border-box">
                        <p class="h6">
                            <a href="https://www.youtube.com/channel/UCYjhtLTvzBJD6AfvHBjQcEg" target="_blank">CompCell Biol YouTube -</a>
                        </p>
                        <p>A listing of VCell and COPASI tutorials
                                as well as lecture material from the CCB 2020 Online Workshop.
                            </p>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col border-box">
                        <p class="h6">
                            <a href="https://vcell.org/support" target="_blank">VCell Tutorials - </a>
                        </p>
                            <p>A complete listing of video and pdf format VCell
                            tutorials, ranging from simple to complex models.
                            </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col border-box">
                        <p class="h6">
                            <a href="http://copasi.org/Support/" target="_blank">Copasi -</a>
                        </p>
                              <p>A support page with tutorials, user manual, user forum, publications and other techinical
                                  documentation.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <br>
    <br>
    <br>
</div>
