/*.container {
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: grid;
}*/

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  color: #20394B;
  padding-bottom: 20px;
}

.header{
  margin-top:75px;
  text-align: center;
}

.headercontainer{
  margin: auto;
  height: 100%;
  width: 700px;
  align-items: center;
  justify-content: center;
  display: grid;
}

@media screen and (max-width: 699px){
  .headercontainer{
    width: 300px;
  }
}

.subheader{
  margin-top: 20px;
  padding-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}

h1.subheader{
  font-size: 24px;
}

@media screen and (max-width: 481px){
  h1{
    font-size: 1.5rem;
  } 
  .subheader{
    margin-left: auto;
    margin-right: auto;
  }
}

h1.bannerTitle{
  color: white;
  font-size: 24px;
  padding-bottom: 2px;
}

.bannerText{
  color: white;
  margin-left: 150px;
  font-size: medium;
}

a.bannerLink{
  color: white;
}

table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 90%;
  background-image: radial-gradient(circle, #979fc7, #7f7e85);
}

td{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


@media screen and (max-width: 990px) {
  .align{
      flex-wrap: wrap;}
  }

@media screen and (max-width: 640px){
  table td{
      display: block;
  }
  h3{
      font-size: 15px;
      inline-size: auto;
  }

  .flex-image{
      
      padding-top: 20px;
  }
  
  table{
      margin-top: 20px;
  }
 
}


/*Card Style -- Andrew Sims*/

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #7F7E85;
    /*background-color: #696669;*/
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card1 {
    display: block;
    position: relative;
    max-width: 262px;
    /*background-color: #5d5c61;*/
    background-color: #B1A296;
    border-radius: 4px;
    padding: 22px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    color: #ffffff;
  }
  
    /*.before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #787C93;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-out;
    }*/
  
    .hover:before {
      transform: scale(21);
    }

    .card1:hover {
      background-color: #7F7E85;
      /*background-color: #696669;*/
    p {
      transition: all 0.3s ease-out;
      color: rgba(255, 255, 255, 0.8);
    }
    h3 {
      transition: all 0.3s ease-out;
      color: #ffffff;
    }
  }

  @media screen and (max-width: 991px){
    .card1{
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  

  /*Publication Cards*/

 /* .card_pub-container{
    padding: 30px;
}*/

.pubheading {
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 24px;
    padding-bottom: 2px;
  }

  @media screen and (max-width: 481px) {
    .pubheading{
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  
  /* Publication CARDS */
  
  .cards_pub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .card_pub {
    margin: 20px;
    padding: 20px;
    width: 300px;
    min-height: 200px;
    display: grid;
    /*grid-template-rows: 20px 50px 1fr 50px;*/
    /*grid-template-rows: 100px 170px 1fr 50px;*/
    grid-template-rows: 100px 180px 1fr 50px;
    border-radius: 10px; /*rounded edges*/
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card_pub:hover {
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
    /*transform: scale(1.01);*/
    translate: 0,0,0;
  }

  .card_pub_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 300px;  /*where text is positioned on card*/
  }

  
  a.card_pub_link
   {
        /*position: right;*/
        text-decoration: none;
        color:black;
        /*align-items: relative;*/
        justify-content: center;
  }

  a:hover{
    text-decoration: underline;
  }

  .card_pub_image img{
    width: 100%;
    object-fit: cover; 
  }
  
  /*.card_pub_link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }*/
  
  
  .card_pub_title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }
  
  .card_pub_apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card_pub-skyblue {
    /*background: linear-gradient(#92eaff, #5780b1);*/
    background: linear-gradient(#4b8dcd, #7ec3d1);
  }

  .card_pub-blue1 {
    background: linear-gradient(#3170a9, #8fbae2);
  }

  .card_pub-pink {
    background: linear-gradient(#e43de8, #e1a1e2);
  }

  .card_pub-green {
    background: linear-gradient(#6eb529, #a6c588);
  }

  .card_pub-red {
    background: linear-gradient(#f31725, #fa858d);
  }

  .card_pub-gryellow {
    background: linear-gradient(#a3b11e, #c2cb6e);
  }

  .card_pub-grey {
    background: linear-gradient(#878787, #c0c0c0);
  }

  .card_pub-ltgrey {
    background: linear-gradient(#bebebe, #edeaea);
  }

  .card_pub-orange {
    background: linear-gradient(#fc7f18, #e7a167);
  }

  .card_pub-black {
    background: linear-gradient(#474646, #919387);
  }

 /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards_pub {
      justify-content: center;
    }
  }


@media (max-width:280px){
    .card_pub {
      min-height: 400px;
}
}