<div class="container">     
      
      <div class="header">
        <h1>Previous CCB Workshops</h1>
      </div>

      <section class="accordion">
        <input type="checkbox" name="collapse2" id="handle2">
        <h2 class="handle">
          <label for="handle2">July 2024 (In-person)</label>
        </h2>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <img src="../../../assets/VCell Short Course2024 InPerson Header.png" alt="VCell Short Course banner in-person 2024">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="../../../assets/Frontpiece landscape_sm50_transparent.png" id="onsitepic" alt="VCell Computational Options Graphs and Cells">
                </div>
                <div class="col-md-8">
                    <div class="div-onsitetext">
                        <h2>About</h2>
                                    An intense online, designed to help cell biologists
                                    and biophysicists to develop mathematical models of their experimental
                                    system. We will teach how to use VCell (<a href="https://vcell.org/" target="_blank">https://vcell.org/</a>), COPASI
                                    (<a href="https://copasi.org/" target="_blank">https://copasi.org/</a> ) and SpringSalad (<a href="https://vcell.org/ssalad" target="_blank">https://vcell.org/ssalad</a>) software to
                                    develop spatial and non-spatial models using deterministic, stochastic,
                                    agent- and rule-based approaches. Please check the websites for
                                    extensive tutorials and examples of models. Organized by the Center for
                                    Cell Analysis and Modeling (CCAM) at the University of Connecticut School
                                    of Medicine (UConn Health).
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="div-onsitetext2">
                        <h2>Course Description</h2>
                                        The course includes introductions to VCell, COPASI, and SpringSaLaD, presented by their
                                        developers and by modelers, followed by interactive hands-on sessions on designing your models,
                                        running simulations, and analyzing results. The number of course participants will be limited
                                        to allow for extensive one-on-one interactions with instructors and scientific disucssions among
                                        the participants. Instructors: Michael Blinov, Ann Cowan, Stefan Hoops, Leslie
                                        Loew, Pedro Mendes, Ion Moraru, Jim Schaff,  and Boris Slepchenko.
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="div-onsitepic">
                        <img src="../../../assets/VCscreenshot4.png" alt="VCell screen shot surface view cell">
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="div-onsitepic">
                        <img src="../../../assets/COPASI-ParameterEstimation.png" alt="COPASI screenshot COPASI-Parameter Estimation">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="div-onsitetext2">
                        <h2>How to Apply for the Course</h2>
                                        Please email the following information to
                                    Dr. Michael Blinov <a href="mailto:blinov@uchc.edu">blinov@uchc.edu</a>,
                                        by June 30, 2024: your name, institution, lab head (if you are a student), and 1-2 page
                                        proposal outlining your research project and explaining how you feel VCell, COPASI,
                                        and/or SpringSaLaD will help it. This information will allow us to determine if our
                                        software is applicable to your project. As a NIH Biomedical Technology Resource, we are 
                                        charged with supporting NIH-funded research through collaborative projects. 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="div-onsitetext2">
                        <h2>Additional Information</h2>
                                        Registration is free and we will provide all meals. However, you will be responsible
                                        for travel and hotel costs. Limited travel funds are available to promote diversity, 
                                        and we especially encourage individuals from minority-serving institutions to apply
                                        for funding. 
                                        <br>
                                        <br>
                                        <h3>Contact:</h3>
                                       <span id="content1">Tiffany Jespersen</span>   
                                       <span id="content1">860-679-6103</span>
                                        <a href="mailto:jespersen@uchc.edu">jespersen@uchc.edu</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="div-onsitepic">
                        <img src="../../../assets/SnipImage.JPG" alt="VCell screenshot reaction diagram">
                    </div>
                </div>
            </div>
            <div class="div-workshop_onsite">
                <div class="row">
                    <div class="col-sm">
                        <div class="uchc">
                            <img  src="../../../assets/uconn-health-wordmark-stacked-white.png" alt="UConn Logo White Text">
                        </div>
                    </div>
                    <div class="col-sm">
                        <h3 class="funding">Funding provided by NIH Grant R24 GM137787.</h3> 
                    </div>
                    <div class="col-sm">
                        <div class="div-onsitepic">
                            <img src="../../../assets/banner-nihlogo2013.png" id="nih" alt="NIH logo with NIH text">
                        </div>
                    </div>     
                </div>    
            </div>
        </div>
     </section>
       
    <section class="accordion">
        <input type="checkbox" name="collapse" id="handle1">
        <h2 class="handle">
          <label for="handle1">February 2024 Online</label>
        </h2>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <img src="../../../assets/Online 2024 Header.png" alt="VCell Short Course banner Online 2024">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="../../../assets/Frontpiece landscape_sm50_transparent.png" id="onsitepic" alt="VCell Computational Options Graphs and Cells">
                </div>
                <div class="col-md-8">
                    <div class="div-onsitetext">
                        <h2>About</h2>
                                    An intense online, designed to help cell biologists
                                    and biophysicists to develop mathematical models of their experimental
                                    system. We will teach how to use VCell (<a href="https://vcell.org/" target="_blank">https://vcell.org/</a>), COPASI
                                    (<a href="https://copasi.org/" target="_blank">https://copasi.org/</a> ) and SpringSalad (<a href="https://vcell.org/ssalad" target="_blank">https://vcell.org/ssalad</a>) software to
                                    develop spatial and non-spatial models using deterministic, stochastic,
                                    agent- and rule-based approaches. Please check the websites for
                                    extensive tutorials and examples of models. Organized by the Center for
                                    Cell Analysis and Modeling (CCAM) at the University of Connecticut School
                                    of Medicine (UConn Health).
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="div-onsitetext2">
                        <h2>Course Description</h2>
                                        The course includes introductions to VCell, COPASI, and SpringSaLaD, presented by their
                                        developers and by modelers, followed by interactive hands-on sessions on designing your models,
                                        running simulations, and analyzing results. The number of course participants will be limited
                                        to allow for extensive one-on-one interactions with instructors and scientific disucssions among
                                        the participants. Instructors: Michael Blinov, Ann Cowan, Stefan Hoops, Leslie
                                        Loew, Pedro Mendes, Ion Moraru, Jim Schaff,  and Boris Slepchenko.
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="div-onsitepic">
                        <img src="../../../assets/VCscreenshot4.png" alt="VCell screenshot surface view cell">
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="div-onsitepic">
                        <img src="../../../assets/COPASI-ParameterEstimation.png" alt="COPASI screenshot COPASI-Parameter Estimation">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="div-onsitetext2">
                        <h2>How to Apply for the Course</h2>
                                        Please email the following information to Dr. Leslie Loew, 
                                        <a href="mailto:les@uchc.edu">les@uchc.edu</a>, and 
                                    Dr. Michael Blinov <a href="mailto:blinov@uchc.edu">blinov@uchc.edu</a>,
                                        by January 28: your name, institution, lab head (if you are a student), and 1-2 page
                                        proposal outlining your research project and explaining how you feel VCell, COPASI,
                                        and/or SpringSaLaD will help it. This information will allow us to determine if our
                                        software is applicable to your project. As a NIH Biomedical Technology Resource, we are 
                                        charged with supporting NIH-funded research through collaborative projects. 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="div-onsitetext2">
                        <h2>Additional Information</h2>
                                        Registration is free and we will provide all meals. However, you will be responsible
                                        for travel and hotel costs. Limited travel funds are available to promote diversity, 
                                        and we especially encourage individuals from minority-serving institutions to apply
                                        for funding. 
                                        <br>
                                        <br>
                                        <h3>Contact:</h3>
                                       <span id="content1">Karen Zucker</span>   
                                       <span id="content1">860-679-1452</span>
                                        <a href="mailto:zucker@uchc.edu">zucker@uchc.edu</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="div-onsitepic">
                        <img src="../../../assets/SnipImage.JPG" alt="VCell screenshot reaction diagram">
                    </div>
                </div>
            </div>
            <div class="div-workshop_online">
                <div class="row">
                    <div class="col-sm">
                        <div class="uchc">
                            <img  src="../../../assets/uconn-health-wordmark-stacked-white.png" alt="UConn Logo White Text">
                        </div>
                    </div>
                    <div class="col-sm">
                        <h3 class="funding">Funding provided by NIH Grant R24 GM137787.</h3> 
                    </div>
                    <div class="col-sm">
                        <div class="div-onsitepic">
                            <img src="../../../assets/banner-nihlogo2013.png" id="nih" alt="NIH logo with NIH text">
                        </div>
                    </div>     
                </div>    
            </div>


        </div>
     </section>

     <section class="accordion">
        <input type="checkbox" name="collapse6" id="handle6">
        <h2 class="handle">
          <label for="handle6">June 2023 (In-person)</label>
        </h2>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                   <img src="../../../assets/VCell ShortCourse Header 2023.png" alt="VCell Short Course banner in-person 2023"> 
                </div>
            </div>
        
                    
                    <div class="div-speakers">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="div-onsitepic">
                                    <img src="../../../assets/Frontpiece landscape_sm50_transparent.png" id="onsitepic" alt="VCell Computational Options Graphs and Cells">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="div-onsitetext">
                                    <h2>About</h2>
                                    An intense in-person, hands-on course is designed to help cell biologists
                                    and biophysicists to develop mathematical models of their experimental
                                    system. We will teach how to use VCell (<a href="https://vcell.org/" target="_blank">https://vcell.org/</a>), COPASI
                                    (<a href="https://copasi.org/" target="_blank">https://copasi.org/</a> ) and SpringSalad (<a href="https://vcell.org/ssalad" target="_blank">https://vcell.org/ssalad</a>) software to
                                    develop spatial and non-spatial models using deterministic, stochastic,
                                    agent- and rule-based approaches. Please check the websites for
                                    extensive tutorials and examples of models. Organized by the Center for
                                    Cell Analysis and Modeling (CCAM) at the University of Connecticut School
                                    of Medicine (UConn Health).
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                    <div class="div-onsitetext2">
                                        <h2>Course Description</h2>
                                        The course includes introductions to VCell, COPASI, and SpringSaLaD, presented by their
                                        developers and by modelers, followed by interactive hands-on sessions on designing your models,
                                        running simulations, and analyzing results. The number of course participants will be limited
                                        to allow for extensive one-on-one interactions with instructors and scientific disucssions among
                                        the participants. Instructors: Michael Blinov, Ann Cowan, Stefan Hoops, Leslie
                                        Loew, Pedro Mendes, Ion Moraru, Jim Schaff, Boris Slepchenko.
                                    </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="div-onsitepic">
                                        <img src="../../../assets/VCscreenshot4.png" alt="VCell screenshot surface view cell">
                                    </div>   
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="div-onsitepic">
                                        <img src="../../../assets/COPASI-ParameterEstimation.png" alt="COPASI screenshot COPASI-Parameter Estimation">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="div-onsitetext2">
                                        <h2>How to Apply for the Course</h2>
                                        Please email the following information to Dr. Michael Blinov, 
                                        <a href="mailto:blinov@uchc.edu">blinov@uchc.edu</a>, 
                                        by May 17: your name, institution, lab head (if you are a student), and 1-2 page
                                        proposal outlining your research project and explaining how you feel VCell, COPASI,
                                        and/or SpringSaLaD will help it. This information will allow us to determine if our
                                        software is applicable to your project. As a NIH Biomedical Technology Resource, we are 
                                        charged with supporting NIH-funded research through collaborative projects. 
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                                <div class="col-md-8">
                                    <div class="div-onsitetext2">
                                        <h2>Additional Information</h2>
                                        Registration is free and we will provide all meals. However, you will be responsible
                                        for travel and hotel costs. Limited travel funds are available to promote diversity, 
                                        and we especially encourage individuals from minority-serving institutions to apply
                                        for funding. 
                                    </div>
                                    
                                        <h3>Contact:</h3>
                                       <span id="content1">Karen Zucker</span>   
                                       <span id="content1">860-679-1452</span>
                                        <a href="mailto:zucker@uchc.edu">zucker@uchc.edu</a>
                                    
                                </div>
                                </div>
                                </div>
                                </div>
                        
            
            
        </section>

     <section class="accordion">
        <input type="checkbox" name="collapse5" id="handle5">
        <h2 class="handle">
          <label for="handle5"> February 2023 Online</label>
        </h2>
        <div class="content">
            <div class="col-md-12">
                <div class="div-intro">
                    <b>The 24th Annual Workshop on Computational Cell Biology</b> will be sponsored by the <a href="
                    https://health.uconn.edu/cell-analysis-modeling/microscopy-facility/" target="_blank">Center 
                    for Cell Analysis and Modeling</a>, (CCAM) at the <a href="https://medicine.uconn.edu/" target="_blank">
                    University of Connecticut School of Medicine</a> on February 13 – 15, 2023. It will be an intense online event designed to 
                    enable cell biologists and biophysicists to develop models of their experimental 
                    system using <a href="https://vcell.org/" target="_blank">Virtual Cell</a>, <a href="https://copasi.org/" target="_blank">COPASI</a>, 
                    and <a href="https://vcell.org/ssalad" target="_blank">SpringSaLaD</a> software systems. The workshop will 
                    include a combination of plenary sessions and breakout sessions for one-on-one model 
                    building. For pre-selected participants, we will provide “hands-on” help developing 
                    models in support of their individual research. Through the 3 days, there will be 
                    opportunities for participants to describe their own modeling projects.
                    <p>A separate in-person workshop is being planned for June 26 – 28, 2023, in 
                        Farmington, CT. More details regarding this event will follow.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="div-text">
                        The workshop is free. However, to be admitted please email the following information 
                        to <a href="mailto:les@uchc.edu">les@uchc.edu</a> by January 13:
                        <ol type="1">
                        <li>Which of the software systems will be of immediate value in your 
                            research:</li>
                            <ol type="a">
                                <li><a href="https://copasi.org/" target="_blank">COPASI</a></li>
                                <li><a href="https://vcell.org/" target="_blank">Virtual Cell</a></li>
                                <li><a href="https://vcell.org/ssalad" target="_blank">SpringSaLaD</a></li>
                            </ol>
                        <li>Are you:</li>
                            <ol type="a">
                                <li>A novice at modeling who can benefit from general introductions to kinetic 
                            and reaction-diffusion systems?</li>
                                <li>An experienced modeler interested in advanced topics?</li>
                            </ol>
                        <li>Do you have a modeling project that you would like to work on with our help? 
                            If so, please send us a short (~ 1 page) description of your project explaining 
                            the research question you wish to address and how modeling can help.
                            This will allow us to determine if the current implementations of the Virtual Cell,
                            COPASI, or SpringSaLaD are applicable to your project.
                        </li>
                        <li>VCell and COPASI support many advanced modeling techniques. Please list any 
                            such approaches you may be interested in learning more about.
                        </li>
                        </ol>
                    </div>
                </div>
            </div>
    
            
            <div class="div-speakers">
                <div class="row">
                    <h1>Keynote Speakers</h1>
                    <div class="col-md-4">
                        <img src="../../../assets/jmh2.jpg" class="keynote" alt="Headshot Jason Haugh">
                            <p><a href="https://www.cbe.ncsu.edu/person/jmhaugh/" target="_blank">Jason Haugh</a></p>
                            <p>North Carolina State University</p>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/Iglesias_Sayak-Combined Small.jpg" class="keynote" alt="Headshot Pablo Iglesias">
                            <p><a href="https://engineering.jhu.edu/faculty/pablo-iglesias/" target="_blank">Pablo Iglesia</a>s</p>
                            <p>Johns Hopkins</p>
                    </div>
    
                    <div class="col-md-4">
                        <img src="../../../assets/20100310_Kummer_Small.jpg" alt="Headshot Ursula Kummer">
                            <p><a href="https://www.cos.uni-heidelberg.de/en/research-groups/modelling-of-biological-processes" target="_blank">Ursula Kummer</a></p>
                            <p>University of Heidelberg</p>
                    </div>
                </div>
            </div>

            <div class="div-workshop">
                <div class="row">
                    <div class="col-md-4">
                        
                    </div>
                    <div class="div-workshop_online">
                        <div class="row">
                            <div class="col-sm">
                                <div class="uchc">
                                    <img  src="../../../assets/uconn-health-wordmark-stacked-white.png" alt="UConn Logo White Text">
                                </div>
                            </div>
                            <div class="col-sm">
                                <h3 class="funding">Funding provided by NIH Grant R24 GM137787.</h3> 
                            </div>
                            <div class="col-sm">
                                <div class="div-onsitepic">
                                    <img src="../../../assets/banner-nihlogo2013.png" id="nih" alt="NIH logo with NIH text">
                                </div>
                            </div>     
                        </div>    
                    </div>
        
            </div>
        </div>
       
        </div>
    </section>

     <section class="accordion">
        <input type="checkbox" name="collapse3" id="handle3">
        <h2 class="handle">
          <label for="handle3">May 2022 Online</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/VCell ShortCourse Online 2022.pdf" width="100%" height="800px" />
        </div>
     </section>

     <section class="accordion">
        <input type="checkbox" name="collapse4" id="handle4">
        <h2 class="handle">
          <label for="handle4">June 2021 Online</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/VCell ShortCourse Online 2021.pdf" width="100%" height="800px" />
        </div>
     </section>

     <section class="accordion">
        <input type="checkbox" name="collapse7" id="handle7">
        <h2 class="handle">
          <label for="handle7">June 2019 (In-person)</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/Vcell Short Course2019.pdf" width="100%" height="800px" />
        </div>
     </section>
    
     <section class="accordion">
        <input type="checkbox" name="collapse8" id="handle8">
        <h2 class="handle">
          <label for="handle8">June 2018 (In-person)</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/Vcell Short Course2018.pdf" width="100%" height="800px" />
        </div>
     </section>

     <section class="accordion">
        <input type="checkbox" name="collapse9" id="handle9">
        <h2 class="handle">
          <label for="handle9">June 2017 (In-person)</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/VCell Short Course 2017.pdf" width="100%" height="800px" />
        </div>
     </section>

</div> 
