body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgb(14, 30, 37);
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .header {
    text-align: center;
    padding-top: 30px; 
  }
  
  container{
    display: flex;
  }
  
  h1{
    font-family: sans-serif;
    color: #263845;
    text-align: center; 
  }
  
  h1.margin{
      margin-top: 75px;
  }
  
  h3{
    margin-top: 20px;
  }


  img {
    max-width: 100%;
    max-height: 100%;
}

.uchc{
    max-width: 50%;
    max-height: 50%;
    padding-bottom: 20px;
    margin-left: 20px;
}

.div-onsitepic{
    max-width: 80%;
    max-height: auto;
    //display: inline-block;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 50px;
  }


  .div-workshop_onsite{
    //background-color: #6dbac4;
    background-color: #63b5c0;
    margin-top: 20px;
    //margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    color: white;
  
  }

  .div-workshop_online{
    background-color: #78759c ;
    margin-top: 20px;
    //margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    color: white;
  
  }


//collapsible/accordion menu
.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
  }
  
  .accordion label {
    display: block;
  }
  
  /*
   Styling
  */
  body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 300;
  }
  
  .accordion {
    margin-bottom: 1em;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 1px solid #41647a;
    border-top: 0;
  }
  
  .accordion .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
  }
  
  .accordion label {
    color: #ffffff;
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
    background: #5D8038;
  }
  
  
  .accordion label:hover,
  .accordion label:focus {
    background: #3E5525;
  }
  
  .accordion .handle label:before {
    
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
  }
  
  /*.accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "\f078";
  }*/
  
  h2.accordion{
    padding-top: 60px; 
    text-align: center;
  }
  
  .embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
  }



