<div class="container">     
      
     <div class="header">
        <h1>Previous CCB Workshops</h1>
      </div>

       <section class="accordion">
        <input type="checkbox" name="collapse2" id="handle2">
        <h2 class="handle">
          <label for="handle2">February 2025 (Online)</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/CCB Workshop Online 2025 Speakers.pdf" width="100%" height="800px" />
        </div>
     </section>


      <section class="accordion">
        <input type="checkbox" name="collapse2" id="handle2">
        <h2 class="handle">
          <label for="handle2">July 2024 (In-person)</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/CCB Workshop 2024.pdf" width="100%" height="800px" />
        </div>
     </section>
       
    <section class="accordion">
        <input type="checkbox" name="collapse" id="handle1">
        <h2 class="handle">
          <label for="handle1">February 2024 Online</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/CCB Workshop Online 2024.pdf" width="100%" height="800px" />
        </div>
     </section>

     <section class="accordion">
        <input type="checkbox" name="collapse6" id="handle6">
        <h2 class="handle">
          <label for="handle6">June 2023 (In-person)</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/CCB workshop 2023.pdf" width="100%" height="800px" />
        </div> 
        </section>

     <section class="accordion">
        <input type="checkbox" name="collapse5" id="handle5">
        <h2 class="handle">
          <label for="handle5"> February 2023 Online</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/VCell ShortCourse Online 2023.pdf" width="100%" height="800px" />
        </div>           
    </section>

     <section class="accordion">
        <input type="checkbox" name="collapse3" id="handle3">
        <h2 class="handle">
          <label for="handle3">May 2022 Online</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/VCell ShortCourse Online 2022.pdf" width="100%" height="800px" />
        </div>
     </section>

     <section class="accordion">
        <input type="checkbox" name="collapse4" id="handle4">
        <h2 class="handle">
          <label for="handle4">June 2021 Online</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/VCell ShortCourse Online 2021.pdf" width="100%" height="800px" />
        </div>
     </section>

     <section class="accordion">
        <input type="checkbox" name="collapse7" id="handle7">
        <h2 class="handle">
          <label for="handle7">June 2019 (In-person)</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/Vcell Short Course2019.pdf" width="100%" height="800px" />
        </div>
     </section>
    
     <section class="accordion">
        <input type="checkbox" name="collapse8" id="handle8">
        <h2 class="handle">
          <label for="handle8">June 2018 (In-person)</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/Vcell Short Course2018.pdf" width="100%" height="800px" />
        </div>
     </section>

     <section class="accordion">
        <input type="checkbox" name="collapse9" id="handle9">
        <h2 class="handle">
          <label for="handle9">June 2017 (In-person)</label>
        </h2>
        <div class="content">
            <embed src="../../../assets/VCell Short Course 2017.pdf" width="100%" height="800px" />
        </div>
     </section>

</div> 
